<form asp-page="/Users/Profile" method="GET" id="search-form">
	<div class="input-group">
		<label class="input-group-text" for="search-username-box">Search: </label>
		<input id="search-username-box" name="name" list="search-username-list" required="required" type="search" class="form-control" placeholder="Enter a UserName" autofocus="autofocus" autocomplete="off" spellcheck="false" />
		<button id="go-button" type="submit" class="btn btn-secondary" disabled="disabled">Go</button>
	</div>
	<script src="/js/user-search.js"></script>
	<script>
		searchUsers("search-username-box");
	</script>
</form>