@page "{handler?}/{disallowId?}"
@model DisallowModel
@{
	ViewData.SetTitle("Disallows");
}
<div class="mb-2">This page manages username patterns that are not allowed during user registration</div>
<form method="post" class="mb-2">
	<row>
		<column lg="6">
			<label asp-for="AddNewRegexPattern"></label>
			<input asp-for="AddNewRegexPattern" />
			<span asp-validation-for="AddNewRegexPattern"></span>
			<button class="mt-2 btn btn-primary">Add</button>
		</column>
	</row>
</form>

<standard-table>
	<table-head columns="Id,Regex Pattern,"></table-head>
	@foreach (var disallow in Model.Disallows)
	{
		<tr>
			<td>
				@disallow.Id
			</td>
			<td>
				@disallow.RegexPattern
			</td>
			<td-action-column>
				<delete-button
					warning-message="Are you sure you want to delete this pattern?"
					asp-href="/Users/Disallow/Delete?disallowId=@disallow.Id"
					class="btn-sm"></delete-button>
			</td-action-column>
		</tr>
	}
</standard-table>