@page "{handler?}"
@model IpBanModel
@{
	ViewData.SetTitle("Banned Ip Addresses");
}

<form client-side-validation="true" method="post">
	<row class="mb-2">
		<column lg="6">
			<fieldset>
				<label asp-for="IpAddressToBan">Ip Address</label>
				<input asp-for="IpAddressToBan" />
				<span asp-validation-for="IpAddressToBan"></span>
			</fieldset>
			<submit-button>Add</submit-button>
		</column>
		<column lg="6">
			<p>Enter a valid IPv4 or IPv6 address or an address range<br />
			For IPv4 address ranges, use a * to wildcard a range.<br />
			For example: 192.168.0.* would ban all addresses between 192.168.0.0 and 192.168.0.255
			For Ipv6 address ranges, use <a target="_blank" href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing#CIDR_notation">Standard CIDR notation</a></p>
		</column>
	</row>
</form>
<standard-table>
	<table-head columns="Ip Address,Created At,"></table-head>
	@foreach (var ip in Model.BannedIps.OrderByDescending(b => b.DateCreated))
	{
		<tr>
			<td>@ip.Mask</td>
			<td>
				<timezone-convert asp-for="@ip.DateCreated" />
			</td>
			<td-action-column>
				<delete-button asp-href="/Users/IpBan/Delete?mask=@ip.Mask"
					class="btn-sm"></delete-button>
			</td-action-column>
		</tr>
	}
</standard-table>
