@page "/Users/{userName}/Ips"
@model IpsModel
@{
	ViewData["Title"] = $"Ip addresses used by {Model.UserName}";
}

<table class="table table-sm table-bordered table-striped">
	<tr>
		<th>IP Address</th>
		<th></th>
	</tr>
	@foreach (var ip in Model.Ips.OrderBy(i => i))
	{
		<tr>
			<td>@ip</td>
			<td>
				<a permission="BanIpAddresses" asp-page="/Users/IpBan" asp-route-banIp="@ip" class="btn btn-danger">Ban</a>
			</td>
		</tr>
	}
</table>