@page "{id}"
@model NukeModel
@{
	ViewData.SetTitle($"Anonymizing User: {Model.OriginalUserName}");
}
<danger-alert>
	<p>Welcome to the danger zone! This will anonymize this account</p>
	<p>This is intended for GDPR and other privacy removal regulations<br />This action cannot be undone!!</p>
</danger-alert>
The follow actions will occur:
<ul>
	<li>The username and email will be changed to the below values</li>
	<li>The password will be set to null</li>
	<li>From, Last Logged in, Avatars, and Signature profile fields will be set to null</li>
	<li>Joined date will be set to Unix 0 (Jan 1 1970)</li>
	<li>All Roles will be removed</li>
	<li>All Ip addresses stored in the database for this user will be set to null</li>
	<li>User maintenance logs for this user will be deleted (a new record will be added simply saying that the account was anonymized)</li>
	<li>All publication and submission titles will be updated to reflect the new username</li>
</ul>

Important manual steps to take before this action
<ul>
	<li>Approval of the request from the user</li>
	<li>Confirm the user is who they claim to be</li>
	<li>Search for user homepages and rename them, and/or update data accordingly (consider edit history as well</li>
</ul>
<form method="post">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="OriginalUserName"></label>
				<label class="form-control">@Model.OriginalUserName</label>
			</fieldset>
		</column>
		<column md="6">
			<fieldset>
				<label asp-for="AnonymousUserName">New Username</label>
				<label class="form-control">@Model.AnonymousUserName</label>
			</fieldset>
			<fieldset>
				<label asp-for="AnonymousEmail">New Email</label>
				<label class="form-control">@Model.AnonymousEmail</label>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button btn-class-override="btn-danger"><i class="fa fa-trash-can"></i> Anonymize</submit-button>
		<cancel-link asp-page="Edit" asp-route-id="@Model.Id"></cancel-link>
	</form-button-bar>
</form>
