@page
@model CreateModel
@{
	ViewData["Title"] = "Creating a new Genre";
}

<form method="post">
	<row>
		<column lg="6" class="mt-lg-0 mt-3">
			<label asp-for="Genre.DisplayName"></label>
			<input type="text" asp-for="Genre.DisplayName" class="form-control" />
			<span asp-validation-for="Genre.DisplayName" class="text-danger"></span>
		</column>
	</row>
	<div class="text-center mt-3">
		<submit-button class="btn btn-primary"><i class="fa fa-save"></i> Save</submit-button>
		<a asp-page="Index" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}