@page
@model CreateModel
@{
	ViewData.SetTitle("Creating a new Genre");
}

<form method="post">
	<row>
		<column lg="6">
			<label asp-for="Genre.DisplayName"></label>
			<input type="text" asp-for="Genre.DisplayName" class="form-control" />
			<span asp-validation-for="Genre.DisplayName" class="text-danger"></span>
		</column>
	</row>
	<form-button-bar>
		<submit-button><i class="fa fa-save"></i> Create</submit-button>
		<cancel-button asp-page="Index"></cancel-button>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}