@page
@model CreateModel
@{
	ViewData.SetTitle("Creating a new Genre");
}

<form client-side-validation="true" method="post">
	<row>
		<column lg="6">
			<label asp-for="Genre.DisplayName"></label>
			<input asp-for="Genre.DisplayName" />
			<span asp-validation-for="Genre.DisplayName"></span>
		</column>
	</row>
	<form-button-bar>
		<submit-button edit="false"></submit-button>
		<cancel-link asp-page="Index"></cancel-link>
	</form-button-bar>
</form>
