@page "{id}/{handler?}"
@model EditModel
@{
	ViewData.SetTitle($"Editing Genre: {Model.Genre.DisplayName}");
}

<top-button-bar>
	<delete-button condition="!Model.InUse"
				   asp-href="/Genres/Edit/@(Model.Id)/Delete"
				   warning-message="Are you sure you want to remove this genre?"></delete-button>
	<span condition="Model.InUse">Genre in Use</span>
</top-button-bar>
<form client-side-validation="true" method="post">
	<row>
		<column lg="6">
			<label asp-for="Genre.DisplayName"></label>
			<input asp-for="Genre.DisplayName" />
			<span asp-validation-for="Genre.DisplayName"></span>
		</column>
	</row>
	<form-button-bar>
		<submit-button></submit-button>
		<cancel-link asp-page="Index"></cancel-link>
	</form-button-bar>
</form>
