@page
@model IndexModel
@{
	ViewData.SetTitle("Genre List");
}
<a class="btn btn-primary float-end mb-3" asp-page="Create" Permission="TagMaintenance"><i class="fa fa-plus"></i> Create</a>
<standard-table>
	<tr>
		<th>Display Name</th>
		<th>Game Count</th>
		<th></th>
	</tr>
	@foreach (var genre in Model.Genres.OrderBy(g => g.DisplayName))
	{
		<tr>
			<td>@genre.DisplayName</td>
			<td>
				<a href="/Games/List?Genre=@genre.DisplayName">
					@genre.GameCount
				</a>
			</td>
			<td>
				<a class="btn btn-primary" asp-page="Edit" asp-route-id="@genre.Id">
					<i class="fa fa-pencil"></i> Edit
				</a>
			</td>
		</tr>
	}
</standard-table>