$primary: #105cb6;
$primary-rgb: 16, 92, 182;
$primary-dark: #4893ef;
$primary-dark-rgb: 72, 147, 239;
$secondary: #6a37a0;
$secondary-rgb: 106, 55, 160;
$secondary-dark: #925fc8;
$secondary-dark-rgb: 146, 95, 200;
$info: #c2d4fc;
$info-rgb: 194, 212, 252;
$info-dark: #03163f;
$info-dark-rgb: 3, 22, 63;
$white: #fff;
$light: #f8f9fa;
$light-rgb: 248,249,250;
$dark: #212529;
$dark-rgb: 33, 37, 41;
$border-light: #ced4da;
$border-dark: #495057;
$border-separator-dark: #6c757d;
$dropdown-text-dark: #dee2e6;
$dropdown-background-dark: #343a40;
$banner: #110931;
$tasvideos-bg: #e9ecef;
$tasvideos-bg-gradient: #c2d4fc;
$tasvideos-bg-dark: #1c1d2b;
$tasvideos-bg-gradient-dark: #311a59;
$card-primary: #acd;
$card-primary-dark: #214354;
$card-secondary: #cde;
$card-secondary-dark: #112132;
$card-link-hover-rgb: 9, 30, 66;
$bs-table-striped-bg-dark: #2c3034;
$bs-table-active-bg-dark: #373b3e;
$bs-table-hover-bg-dark: #323539;
$text-muted-dark: #818a92;
$module-error-color: #f8d7da;
