//custom tasvideos colors

//custom banner and site background colors
$banner: #110931;
$tasvideos-bg: #e9ecef;
$tasvideos-bg-gradient: #c2d4fc;
$tasvideos-bg-dark: #1c1d2b;
$tasvideos-bg-gradient-dark: #110931;

$card-bg-color: #2c3034;

$card-link-hover-rgb: 9, 30, 66;
$module-error-color: #f8d7da;

//diff library defined colors
$diff-replace: #fd8;
$diff-delete: #f8cece;
$diff-insert: #9e9;

//custom diff dark mode colors
$diff-replace-dark: #dba400;
$diff-delete-dark: #AA132A;
$diff-insert-dark: #125E38;