/// <reference path="colors.scss" />
/// <reference path="variables.scss" />

:root {
	--cardprimary: #{$card-primary};
	--cardsecondary: #{$card-secondary};
	--tasvideos-bg: #{$tasvideos-bg};
	--tasvideos-bg-gradient: #{$tasvideos-bg-gradient};
	--tab-content-bg: #{$white};
}
@include color-mode(dark) {
	--cardprimary: #{$card-primary-dark};
	--cardsecondary: #{$card-secondary-dark};
	--tasvideos-bg: #{$tasvideos-bg-dark};
	--tasvideos-bg-gradient: #{$tasvideos-bg-gradient-dark};
}

body {
	font-size: 14px;
	background: var(--tasvideos-bg) linear-gradient(var(--tasvideos-bg-gradient) 0, var(--tasvideos-bg) 250px) repeat-x;
}
@include color-mode(dark) {
	body {
		background: var(--tasvideos-bg) linear-gradient(var(--tasvideos-bg-gradient) $banner-height, var(--tasvideos-bg) 735px) repeat-x;
	}
}

.btn-separator::after {
	content: ' ';
	display: block;
	float: left;
	background: var(--bs-gray-500);
	margin: 0 10px;
	height: 34px;
	width: 1px;
}

.embed {
	border: 0;

	&left {
		margin-right: 10px;
		border: 0;
		float: left;
	}

	&right {
		margin-left: 10px;
		border: 0;
		float: right;
	}
}

.table-container {
	overflow-x: auto;
}

/* Wiki and Forum Tables */
article.wiki, .postbody {
	table {
		width: 100%;
		margin-bottom: 1rem;
		color: var(--bs-dark);
		border-collapse: collapse;

		th, td {
			padding: 0.3rem;
			vertical-align: top;
			border: 1px solid var(--border-color);
		}

		tbody th {
			background-color: rgba(var(--bs-black-rgb), 0.05);
		}

		tbody + tbody {
			border-top: 2px solid var(--border-separator-color);
		}
	}
}

.wiki {
	h1 {
		margin-left: 0;
		margin-bottom: 1rem;
	}

	div.p {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	&-edit {
		font-family: courier,"courier new",monospace;
		font-variant-ligatures: none;
	}

	.module-error {
		color: var(--bs-danger);
		border: 1px solid var(--bs-danger);
		border-radius: 5px;
		background-color: $module-error-color;
		padding: .75rem 1.25rem;
	}

	sillyquote {
		display: block;
	}
}

.error-code {
	border: 2px solid var(--bs-danger);
	background-color: var(--bs-white);
	padding: 20px;

	.info {
		color: var(--bs-danger);
		font-weight: bold;
	}
}

.error-marker {
	position: relative;
	border: 2px solid var(--bs-danger);

	span {
		position: absolute;
		background-color: var(--bs-white);
		padding: 4px;
		border: 1px solid var(--bs-danger);
		color: var(--bs-danger);
		bottom: 13px;
		opacity: 0.2;

		&:hover {
			opacity: 0.8;
		}
	}
}

.forum-signature {
	font-style: italic;
	background-color: var(--bs-gray-200);
	border-top: solid 1px var(--bs-gray-400);
	padding: .5rem;
}

.forum-profile-section {
	border-right: solid 1px var(--bs-gray-200);
	padding-right: 0;
}

.forum-post-highlight {
	box-shadow: var(--bs-gray-400) 0px 8px 16px;
}

.pixelart-image {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.spoiler {
	background-color: var(--bs-dark);
	color: var(--bs-dark);

	&:hover {
		color: var(--bs-white);
	}
}

[data-bs-toggle="collapse"] {
	.fa::before {
		content: "\f139";
	}

	&.collapsed .fa::before {
		content: "\f13a";
	}
}

.hiddenifmodule {
	display: none;
}

figure {
	margin: 0.75rem;
	padding: .25rem;
	background-color: var(--bs-gray-200);
	border-radius: 0.25rem;
	border: 1px dashed var(--bs-gray-700);
}

.postbody {
	white-space: pre-wrap;

	.a-l {
		text-align: left;
	}

	.a-c {
		text-align: center;
	}

	.a-r {
		text-align: right;
	}

	.warning {
		border: 2px solid var(--bs-danger);
		border-radius: 2px;
		padding: 2px;

		&::before {
			content: "Warning: ";
			color: var(--bs-danger);
			font-weight: bold;
		}
	}

	.forumline {
		border: 2px solid var(--bs-primary);
		border-radius: 2px;
		padding: 2px;
	}

	.highlight {
		background-color: var(--bs-yellow);
		color: black;
		border-radius: 5px;
		padding: 0.125rem 0.375rem;
		font-size: 85%;
	}
}

.tab-content {
	background-color: var(--tab-content-bg);
}

.tab-pane {
	padding: 10px;
}

.form-control-label {
	font-weight: bold;
}

/*.topic-header {
	background-color: var(--bs-gray-200);
}*/

/* Firefox fix for file inputs */
@-moz-document url-prefix() {
	input[type="file"].form-control {
		height: auto;
	}
}

.bg-cardprimary {
	background-color: var(--cardprimary) !important;
}

.bg-cardsecondary {
	background-color: var(--cardsecondary) !important;
}

.site-icon {
	position: absolute;
	left: -3.5rem;
	top: -1rem;
	z-index: 1;
	width: 121px;

	&-dark {
		display: none;
	}
}
#banner {
	background: $banner;

	.navbar-toggler, .navbar-collapse {
		z-index: 1;
	}
}
@include color-mode(dark) {
	.site-icon {
		left: -2rem;
		top: -.75rem;

		&-light {
			display: none;
		}

		&-dark {
			display: block;
		}
	}

	#banner {
		background: none;
	}
}

#brand {
	color: $gray-100;
	font-size: 17px;
}

#mantra {
	font-weight: bold;
	z-index: 1;
	color: $gray-100;
	text-decoration: none;

	&-1 {
		font-size: 11px;
		margin-top: -2px;
	}

	&-2 {
		font-size: 10px;
	}
}

@media (min-width: 768px) {
	#mantra {
		margin-left: 3.5rem;
	}
}

.site-banner {
	height: 100%;
}
@include color-mode(dark) {
	.site-banner {
		height: $banner-height;
		background: $banner;
		z-index: -1;
	}
}

.fa {
	transform: translate(0);
}

.card-header {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}
@include color-mode(dark) {
	.card {
		background-color: $card-bg-color;
		border: 2px solid rgba(255, 255, 255, .125);

		&-header {
			border-bottom: 2px solid rgba(255, 255, 255, .125);
		}
	}
}

.card-userinfo {
	font-size: .75rem;
	display: inline-block;
	border: solid 1px var(--cardsecondary);
	margin: 3px;
	border-radius: 3px;
}

.card-header-userinfo {
	background-color: var(--cardsecondary);
	padding: 3px;
}

.card-body-userinfo {
	padding: 3px;
}

.border-card {
	border-color: var(--bs-gray-400) !important;
}

.right-align-topic {
	border: 1px solid var(--border-color);
	border-radius: 5px;
	margin-top: 15px;

	&:last-child {
		border: none;
	}

	.card {
		border: none;
		border-radius: 0;
		border-bottom: 2px solid var (--border-color);
	}
}

@media (min-width: 768px) {
	.right-align-topic {
		margin-left: 20px;
		margin-top: 0;
		float: right;
		width: 33%;
	}
}

#button-scrolltop {
	font-size: 28px;
}

tt {
	font-family: var(--bs-font-monospace);
	font-size: 1em;
	direction: ltr;
	unicode-bidi: bidi-override;
}

tt, code, kbd, pre, samp, .wiki blockquote {
	background: var(--bs-gray-400);
}

tt, code, kbd, pre, samp, dt, .wiki blockquote {
	border-radius: 5px;
	padding: 0.125rem 0.375rem;
	font-size: 85%;
}
dt, .wiki blockquote {
	display: inline-block;
}

dt {
	background: var(--cardprimary);
}

.wiki blockquote {
	font-style: italic;
}

pre code {
	padding: 0;
}

@media (min-width: 576px) {
	.fs-sm-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}
	.fs-sm-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}
	.fs-sm-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}
	.fs-sm-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
	.fs-sm-5 {
		font-size: 1.25rem !important;
	}
	.fs-sm-6 {
		font-size: 1rem !important;
	}
}

@media (min-width: 768px) {
	.fs-md-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}

	.fs-md-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}

	.fs-md-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}

	.fs-md-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}

	.fs-md-5 {
		font-size: 1.25rem !important;
	}

	.fs-md-6 {
		font-size: 1rem !important;
	}
}

@media (min-width: 992px) {
	.fs-lg-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}

	.fs-lg-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}

	.fs-lg-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}

	.fs-lg-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}

	.fs-lg-5 {
		font-size: 1.25rem !important;
	}

	.fs-lg-6 {
		font-size: 1rem !important;
	}
}

@media (min-width: 1200px) {
	.fs-xl-1 {
		font-size: 2.5rem !important;
	}

	.fs-xl-2 {
		font-size: 2rem !important;
	}

	.fs-xl-3 {
		font-size: 1.75rem !important;
	}

	.fs-xl-4 {
		font-size: 1.5rem !important;
	}

	.fs-xl-5 {
		font-size: 1.25rem !important;
	}

	.fs-xl-6 {
		font-size: 1rem !important;
	}
}

@media (min-width: 1400px) {
	.fs-xxl-1 {
		font-size: 2.5rem !important;
	}

	.fs-xxl-2 {
		font-size: 2rem !important;
	}

	.fs-xxl-3 {
		font-size: 1.75rem !important;
	}

	.fs-xxl-4 {
		font-size: 1.5rem !important;
	}

	.fs-xxl-5 {
		font-size: 1.25rem !important;
	}

	.fs-xxl-6 {
		font-size: 1rem !important;
	}
}
