/// <reference path="colors.scss" />
/// <reference path="variables.scss" />
:root {
	--diff-replace: #{$diff-replace};
	--diff-delete: #{$diff-delete};
	--diff-insert: #{$diff-insert};
}

table.diff .noselect {
	user-select: none;
}

table.diff {
	border-color: var(--border-color);
}

table.diff tbody th {
	background: var(--bs-gray-200);
	border-color: var(--border-color);
	color: var(--bs-gray-600);
}

table.diff thead {
	border-color: var(--border-color);
	background: var(--bs-light);
}

table.diff .empty {
	background-color: var(--bs-gray-400);
}

table.diff .replace {
	background-color: var(--diff-replace);
}

table.diff .delete {
	background-color: var(--diff-delete);
}

table.diff .skip {
	background-color: var(--bs-light);
	border-color: var(--border-color);
	border-right-color: var(--border-separator-color);
}

table.diff .insert {
	background-color: var(--diff-insert);
}

table.diff th.author {
	border-color: var(--border-color);
	background: var(--bs-light);
}

table.diff .equal {
	background-color: var(--bs-gray-200);
}
