
<h4>This page list movies that have been submitted for review</h4>

@if (ViewData.UserHasPermission(PermissionTo.SubmitMovies))
{
	<a class="btn btn-primary" asp-action="Submit">Submit a Movie</a>
}
else
{
	<h4>Want to submit a movie?</h4>
	<p>TODO: submission instructions wiki go here (instead of on SubmitMovie when a user is not logged in!)</p>
}

<label>TODO: more content</label>

<h2>TODO: a list of submissions</h2>