@model SubmissionCreateViewModel
@{
	ViewData["Title"] = "Submit Movie";
}
<div class="alert alert-info text-center">
	@await Component.InvokeAsync(nameof(RenderWikiPage), new { url = "System/SubmitMovieHeader" })
</div>
<hr />
<form asp-action="Submit" class="form-horizontal">
	<div class="text-center">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>