@page "{id}"
@model EditModel
@{
	ViewData.SetTitle($"Edit User file {Model.Id}");
}

<fullrow class="mt-2 mb-2">
	<label>Author: <profile-link username="@Model.UserFile.UserName"></profile-link></label>
</fullrow>
<form client-side-validation="true" method="post" enctype="multipart/form-data">
	<row>
		<column>
			<input type="hidden" asp-for="UserFile.UserId" />
			<input type="hidden" asp-for="UserFile.UserName" />
			<fieldset>
				<label asp-for="UserFile.Title"></label>
				<input asp-for="UserFile.Title" />
				<span asp-validation-for="UserFile.Title"></span>
			</fieldset>
			<fieldset>
				<wiki-edit-helper></wiki-edit-helper>
				<label asp-for="UserFile.Description"></label>
				<wiki-textarea asp-for="UserFile.Description" rows="6"></wiki-textarea>
				<span asp-validation-for="UserFile.Description"></span>
				@await Html.RenderWiki(SystemWiki.WikiEditHelp)
			</fieldset>
			<fieldset>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="UserFile.Hidden">
					<label class="form-check-label" asp-for="UserFile.Hidden"></label>
				</div>
			</fieldset>
			<fieldset>
				<label asp-for="UserFile.System"></label>
				<select asp-for="UserFile.System" data-id="system" asp-items="@Model.AvailableSystems"></select>
				<span asp-validation-for="UserFile.System"></span>
			</fieldset>
			<fieldset>
				<label asp-for="UserFile.Game"></label>
				<select asp-for="UserFile.Game" data-id="game" asp-items="@Model.AvailableGames"></select>
				<span asp-validation-for="UserFile.Game"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		@await Html.RenderWiki(SystemWiki.WikiEditNote)
		<preview-button></preview-button>
		<submit-button></submit-button>
		<cancel-link asp-page="/UserFiles/Info" asp-route-id="@Model.Id"></cancel-link>
	</form-button-bar>
</form>
<wiki-preview></wiki-preview>

@section Scripts {
	<script src="/js/userfile.js"></script>
}
