@page "{userName}"
@model ForUserModel

@{
	ViewData["Title"] = "User Files from " + Model.UserName;
}

<a asp-page="/UserFiles/Upload" class="btn btn-primary"><i class="fa fa-upload"></i> Upload</a>
<a asp-page="Index" class="btn btn-secondary float-end">All User Files</a>

<partial name="_Pager" model="Model.Files" />

@foreach (var file in Model.Files)
{
	<partial name="_UserFileInfo" model="file" />
}

<partial name="_Pager" model="Model.Files" />
