@page "{id}"
@model GameModel

@{
	ViewData["Title"] = $"User Files for {Model.Game.GameName}";
}

<div class="mb-2">
	<a asp-page="/UserFiles/Upload" class="btn btn-primary"><i class="fa fa-upload"></i> Upload</a>
	<a asp-page="Index" class="btn btn-secondary float-end">All User Files</a>
</div>

@foreach (var file in Model.Game.Files)
{
	<partial name="_UserFileInfo" model="file" />
}
