@page "{id}"
@model InfoModel

@{
	ViewData["Title"] = $"User File #{Model.Id}";
}
@section Header {
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="TASVideos" />
	<meta property="og:title" content="@ViewData["Title"]" />
	@if (!string.IsNullOrWhiteSpace(Model.UserFile.Title)) {
		<meta property="og:description" content="@(Model.UserFile.Title)" />
	}
	<meta property="og:url" content="@HttpContext.Request.ToUrl()" />
	<meta property="og:image" content="@($"{HttpContext.Request.ToBaseUrl()}/images/logo-embed.png")" />
}

<div class="mb-2">
	<a asp-page="/UserFiles/Upload" class="btn btn-primary"><i class="fa fa-upload"></i> Upload</a>
	<div class="float-end">
		<a asp-page="Index" class="btn btn-secondary">All User Files</a>
	</div>
</div>

<partial name="_UserFileInfo" model="Model.UserFile" />
