@page
@model UploadModel
@{
	ViewData.SetTitle("Upload a User file");
	ViewData.UseClientFileCompression();
}

<info-alert dismissible="true">
	@await Html.RenderWiki(SystemWiki.UserFileUploadHeader)
</info-alert>

<partial name="Shared/_StorageUsed" model="Model.StorageUsed" />
<hr />
<form client-side-validation="true" method="post" enctype="multipart/form-data">
	<row>
		<column>
			<fieldset>
				<label asp-for="UserFile"></label>
				<input asp-for="UserFile" data-id="user-form-file" data-supported-extensions="@string.Join(",", Model.SupportedFileExtensions)" />
				<small>Valid file types: @string.Join(", ", Model.SupportedFileExtensions)</small><br />
				<span id="FileInputWarning" asp-validation-for="UserFile"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Title"></label>
				<input asp-for="Title" />
				<span asp-validation-for="Title"></span>
			</fieldset>
			<fieldset>
				<wiki-edit-helper></wiki-edit-helper>
				<label asp-for="Description"></label>
				<wiki-textarea asp-for="Description" rows="6"></wiki-textarea>
				<span asp-validation-for="Description"></span>
			</fieldset>
			<fieldset>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="Hidden">
					<label class="form-check-label" asp-for="Hidden"></label>
				</div>
			</fieldset>
			<hr />
			<fieldset>
				<label asp-for="System"></label>
				<select asp-for="System" data-id="system" asp-items="@Model.AvailableSystems"></select>
				<span asp-validation-for="System"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Game"></label>
				<select asp-for="Game" data-id="game" asp-items="@Model.AvailableGames"></select>
				<span asp-validation-for="Game"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		@await Html.RenderWiki(SystemWiki.WikiEditNote)
		<preview-button></preview-button>
		<submit-button><i class="fa fa-upload"></i> Upload</submit-button>
		<cancel-link asp-page="/Profile/UserFiles"></cancel-link>
	</form-button-bar>
</form>
<wiki-preview></wiki-preview>
@section Scripts {
	<script src="/js/userfile.js"></script>
	<script src="/js/userfiles-upload.js"></script>
}
