@{
	ViewData["Title"] = "Cache Control";
}

<row>
	<div class="col-md-6">
		<card>
			<cardheader>
				Wiki Markup Cache
			</cardheader>
			<cardbody>
				<div class="card-title">
					Clearing this will clear all of the wiki revision markup entries in cache
				</div>
				<div id="clear-wiki-success" class="d-none alert alert-success">Successfully cleared.</div>
				<div id="clear-wiki-error" class="d-none alert alert-danger">An error occured.</div>
				<button id="clear-wiki" class="btn btn-danger">Clear</button>
			</cardbody>
		</card>
	</div>
	<div class="col-md-6">
		<card>
			<cardheader>
				Awards cache
			</cardheader>
			<cardbody>
				<div class="card-title">
					Clearing this will clear all of the movie and player awards currently cached
				</div>
				<div id="clear-awards-success" class="d-none alert alert-success">Successfully cleared.</div>
				<div id="clear-awards-error" class="d-none alert alert-danger">An error occured.</div>
				<button id="clear-awards" class="btn btn-danger">Clear</button>
			</cardbody>
		</card>
	</div>
</row>

<script>
	(function () {
		document.getElementById("clear-wiki").onclick = function () {
			var successDiv = document.getElementById("clear-wiki-success");
			var errorDiv = document.getElementById("clear-wiki-error");

			successDiv.classList.add("d-none");
			errorDiv.classList.add("d-none");

			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function () {
				if (xmlhttp.readyState === XMLHttpRequest.DONE) {
					if (xmlhttp.status === 200) {
						successDiv.classList.remove("d-none");
						errorDiv.classList.add("d-none");
					} else {
						successDiv.classList.add("d-none");
						errorDiv.classList.remove("d-none");
					}
				}
			};

			xmlhttp.open("POST",
				"/Diagnostics/@(nameof(DiagnosticsController.ClearWikiCache))",
				true);
			xmlhttp.send();
		};

		document.getElementById("clear-awards").onclick = function () {
			var successDiv = document.getElementById("clear-awards-success");
			var errorDiv = document.getElementById("clear-awards-error");

			successDiv.classList.add("d-none");
			errorDiv.classList.add("d-none");

			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function () {
				if (xmlhttp.readyState === XMLHttpRequest.DONE) {
					if (xmlhttp.status === 200) {
						successDiv.classList.remove("d-none");
						errorDiv.classList.add("d-none");
					} else {
						successDiv.classList.add("d-none");
						errorDiv.classList.remove("d-none");
					}
				}
			};

			xmlhttp.open("POST",
				"/Diagnostics/@(nameof(DiagnosticsController.ClearAwardsCache))",
				true);
			xmlhttp.send();
		};
	})();
</script>