@model PlatformAuthorListModel
@{
	var authors = Model.Publications.SelectMany(p => p.Authors).Distinct().ToList();

	var authorsWithPus = authors.Select(author => new
	{
		Name = author,
		Pubs = Model.Publications.Where(p => p.Authors.Any(a => a == author)).ToList()
	});
}

<div condition="!Model.Publications.Any()">
	No records found
</div>

<div condition="Model.Publications.Any()">
	@foreach (var author in authorsWithPus.OrderByDescending(a => a.Pubs.Count).ThenBy(a => a.Name))
	{
		<card>
			<cardheader>
				<profile-link username="@author.Name"></profile-link>
				<span>(@author.Pubs.Count)</span>
			</cardheader>
			<cardbody>
				<ul style="list-style-type: none;">
					@foreach (var pub in author.Pubs)
					{
						var tierIconPath2x = "";
						var tierIconPath4x = "";
						if (pub.TierIconPath != null)
						{
							tierIconPath2x = $"{pub.TierIconPath.Split('.')[0]}-2x.png";
							tierIconPath4x = $"{pub.TierIconPath.Split('.')[0]}-4x.png";
						}
						<li>
							<img style="width: 18px" condition="Model.ShowTiers" src="/@tierIconPath2x"
								srcset="/@pub.TierIconPath .5x,
								/@tierIconPath2x 1x,
								/@tierIconPath4x 2x" />
							<a href="@(pub.Id)M"> @pub.Title </a>
						</li>
					}
				</ul>
			</cardbody>
		</card>

	}
</div>