*.user
.vs/**
**/bin/**
**/obj/**
**/Release/**
**/Debug/**
**/packages/**
*.g.cs
TASVideos/CommonAssemblyInfo.cs
packages-microsoft-prod.deb
TASVideos/Properties/serviceDependencies.json
TASVideos/Properties/serviceDependencies.local.json
TASVideos.sln.personal.DotSettings
