@page
@model CreateModel
@{
	ViewData.SetTitle("Creating a new Flag");
}

<form client-side-validation="true" method="post">
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Flag.Name"></label>
				<input type="text" asp-for="Flag.Name" class="form-control" />
				<span asp-validation-for="Flag.Name"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Flag.IconPath"></label>
				<input type="text" asp-for="Flag.IconPath" class="form-control" />
				<span asp-validation-for="Flag.IconPath"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Flag.LinkPath"></label>
				<input type="text" asp-for="Flag.LinkPath" class="form-control" />
				<span asp-validation-for="Flag.LinkPath"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Flag.Token"></label>
				<input type="text" asp-for="Flag.Token" class="form-control" />
				<span asp-validation-for="Flag.Token"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Flag.PermissionRestriction"></label>
				<select asp-for="Flag.PermissionRestriction" asp-items="Model.AvailablePermissions.WithDefaultEntry()" class="form-select"></select>
				<span asp-validation-for="Flag.PermissionRestriction"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button><i class="fa fa-save"></i> Create</submit-button>
		<cancel-link asp-page="Index"></cancel-link>
	</form-button-bar>
</form>
