@page
@model CreateModel
@{
	ViewData.SetTitle("Creating a new Flag");
}

<form client-side-validation="true" method="post">
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Flag.Name"></label>
				<input asp-for="Flag.Name" />
				<span asp-validation-for="Flag.Name"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Flag.IconPath"></label>
				<input asp-for="Flag.IconPath" />
				<span asp-validation-for="Flag.IconPath"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Flag.LinkPath"></label>
				<input asp-for="Flag.LinkPath" />
				<span asp-validation-for="Flag.LinkPath"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Flag.Token"></label>
				<input asp-for="Flag.Token" />
				<span asp-validation-for="Flag.Token"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Flag.PermissionRestriction"></label>
				<select asp-for="Flag.PermissionRestriction" asp-items="Model.AvailablePermissions.WithDefaultEntry()"></select>
				<span asp-validation-for="Flag.PermissionRestriction"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Flag.Weight"></label>
				<input asp-for="Flag.Weight" />
				<span asp-validation-for="Flag.Weight"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button edit="false"></submit-button>
		<cancel-link asp-page="Index"></cancel-link>
	</form-button-bar>
</form>
