<small>
	<i id="forum-header-restore" class="fa fa-plus border border-info bg-info p-1 mb-1 text-white border-r d-none" style="cursor: pointer; border-radius: 5px"></i>
</small>
<info-alert id="forum-header" class="d-none">
	<button id="forum-header-dismiss" type="button" class="btn-close float-end" aria-label="close"></button>
	Welcome, this is the discussion board of TASVideos.
	Please do not fill the forums with movie requests. Enjoy your stay.
	<br/>
	<br/>
	If you have a question, please read the <a href="/FAQ">Site FAQ</a> first to see if your question has already been answered.
	<br/>
	Be sure your posts conform to <a href="/SiteRules">Site Rules</a>
	<br/>
	<small>
		We also have a <a href="https://discordapp.com/invite/GySG2b6">Discord server</a> and an IRC channel <a href="https://kiwiirc.com/nextclient/irc.libera.chat:+6697/#tasvideos">#tasvideos at irc.libera.chat...</a>
	</small>
	<script>
		{
			let forumHeader = document.getElementById("forum-header");
			let forumHeaderRestore = document.getElementById("forum-header-restore");
			let dismissBtn = document.getElementById("forum-header-dismiss");

			const dismiss = localStorage.getItem("DismissForumHeader");
			if (dismiss !== "true") {
				forumHeader.classList.remove("d-none");
				forumHeaderRestore.classList.add("d-none");
			} else {
				forumHeaderRestore.classList.remove("d-none");
			}

			dismissBtn.onclick = function () {
				localStorage.setItem("DismissForumHeader", true);
				forumHeader.classList.add("d-none");
				forumHeaderRestore.classList.remove("d-none");
			}

			forumHeaderRestore.onclick = function () {
				localStorage.removeItem('DismissForumHeader');
				forumHeaderRestore.classList.add("d-none");
				forumHeader.classList.remove("d-none");
			}
		}
	</script>
</info-alert>
