<info-alert>
	Welcome, this is the discussion board of TASVideos.
	Please do not fill the forums with movie requests. Enjoy your stay.
	<br />
	<br />
	If you have a question, please read the <a href="/FAQ">Site FAQ</a> first to see if your question has already been answered.
	<br />
	Be sure your posts conform to <a href="/SiteRules">Site Rules</a>
	<br />
	<small>
		We also have an IRC channel <a href="irc://irc.freenode.net/tasvideos">#tasvideos at irc.freenode.net...</a>
	</small>
</info-alert>