@model IForumTopicBreadCrumb
<small class="@(Model.IsLocked ? "alert alert-danger" : "") pt-1 pb-2">
	<a asp-page="Index">Forum</a>
	->
	<a asp-page="Subforum/Index" asp-route-id="@Model.ForumId">@Model.ForumName</a>
	-> @Model.Title
	<span condition="Model.IsLocked"> (Locked)</span>
</small>