@page
@model IndexModel
@{
	ViewData["Title"] = "Forum";
}
<partial Name="_ForumHeader" />
<fullrow class="pb-2 pt-2">
	<div class="float-end">
		<a asp-page="/Forum/Posts/Latest" class="btn btn-secondary btn-sm">
			Latest Posts
		</a>
		<a asp-page="/Forum/Posts/New" condition="@User.IsLoggedIn()" class="btn btn-secondary btn-sm">
			Posts since last visit
		</a>
		<a asp-page="/Forum/Posts/Unanswered" class="btn btn-secondary btn-sm">
			Unanswered Posts
		</a>
	</div>
</fullrow>
<row>
	<div class="d-none d-md-block col-md-6">
		@foreach (var cat in Model.Categories.OrderBy(c => c.Ordinal).FirstHalf())
		{
			<partial name="_Category" model="cat" />
		}
	</div>
	<div class="d-none d-md-block col-md-6">
		@foreach (var cat in Model.Categories.OrderBy(c => c.Ordinal).SecondHalf())
		{
			<partial name="_Category" model="cat" />
		}
	</div>
	<div class="d-md-none">
		@foreach (var cat in Model.Categories.OrderBy(c => (c.Ordinal - 7) % 27)) // please don't ban me
		{
			<partial name="_Category" model="cat" />
		}
	</div>
</row>
