@page
@model IndexModel
@{
	ViewData["Title"] = "Forum";
}

<div class="clearfix">
	<partial Name="_ForumHeader" />
	<a asp-page="/Forum/Subforum/Create" permission="EditForums" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create</a>
	<div class="float-end pb-2">
		<a asp-page="/Forum/Posts/Latest" class="btn btn-secondary btn-sm">
			Latest Posts
		</a>
		<a asp-page="/Forum/Posts/New" condition="@User.IsLoggedIn()" class="btn btn-secondary btn-sm">
			Posts since last visit
		</a>
		<a asp-page="/Forum/Posts/Unanswered" class="btn btn-secondary btn-sm">
			Unanswered Posts
		</a>
		<a class="btn btn-secondary btn-sm" onclick="markAllPostsRead()">
			Mark all Posts as read
		</a>
	</div>
</div>
<div class="clearfix flex-wrap d-flex d-md-block">
	@foreach (var cat in Model.Categories.OrderBy(c => ((c.Ordinal + 21) % 31) % 22)) // please don't ban me
	{
		<div class="col-12 col-md-6 @(cat.Ordinal <= 30 ? "float-start ps-md-0 pe-md-2" : "float-end ps-md-2 pe-md-0") order-@(((cat.Ordinal + 6) % 37) % 8)" style="@(cat.Ordinal <= 30 ? "clear: left;" : "")">
			<partial name="_Category" model="cat" />
		</div>
	}
</div>

@section Scripts {
	<script>
		let currentTime = Math.floor(Date.now() / 1000);
		{
			let visitedTopics = localStorage.getItem('VisitedTopics');
			if (visitedTopics) {
				visitedTopics = JSON.parse(visitedTopics);
			} else {
				visitedTopics = {};
			}
			let activitySubforums = document.getElementsByClassName('activity-subforum');
			for (let activityTopic of activitySubforums){
				let activityJson = JSON.parse(activityTopic.dataset.activityJson);
				let display = false;
				for (let topicId in activityJson){
					let lastVisit = visitedTopics[topicId];
					if (!lastVisit || lastVisit < activityJson[topicId]){
						display = true;
						break;
					}
				}
				if (display){
					activityTopic.classList.remove('d-none');
				}
			}
		}
		function markAllPostsRead(){
			let visitedTopics = {};
			let activitySubforums = document.getElementsByClassName('activity-subforum');
			for (let activityTopic of activitySubforums){
				let activityJson = JSON.parse(activityTopic.dataset.activityJson);
				for (let topicId in activityJson){
					visitedTopics[topicId] = currentTime;
				}
			}
			localStorage.setItem('VisitedTopics', JSON.stringify(visitedTopics));
			location.reload();
		}
	</script>
}
