@page "{userName?}"
@model TASVideos.Pages.Forum.MoodReportModel
@{
	ViewData["Title"] = string.IsNullOrWhiteSpace(Model.UserName)
		? "These are all user's mood avatars"
		: "Mood avatars";
}
<p condition="string.IsNullOrWhiteSpace(Model.UserName)">These are peoples mood avatars</p>
@foreach (var user in Model.MoodyUsers.Where(m => m.UserName == "adelikat"))
{
	<card>
		<cardheader>
			<h4><profile-link username="@user.UserName"></profile-link></h4>
		</cardheader>
		<cardbody>
			@foreach (var mood in MoodReportModel.Moods)
			{
				<div class="mood-box border p-2">
					<strong>@mood.EnumDisplayName()</strong>
					<br />
					<img src="@user.MoodAvatarUrl.Replace("$", ((int)mood).ToString())" onerror="imgError(this)" />
				</div>
			}
		</cardbody>
	</card>
	<hr />
}

<style>
	.mood-box {
		display: inline-block;
		min-height: 139px;
		min-width: 100px;
	}
</style>

<script>
	function imgError(image) {
		image.onerror = "";
		image.src = "/images/empty.png";
		return true;
	}
</script>