@page "{id?}/{handler?}"
@model AddEditModel
@{
	bool canDelete = Model.Id.HasValue && User.Has(PermissionTo.DeleteRoles) && Model.IsInUse;
	ViewData.SetTitle(Model.Id.HasValue ? "Modifying Role: " + Model.Role.Name : "Create a New Role");
}
<top-button-bar>
	<delete-button condition="canDelete"
	               asp-href="@($"/Roles/AddEdit/{Model.Id}/Delete")"
	               warning-message="Are you sure you want to delete this Role? This action cannot be undone!"></delete-button>
</top-button-bar>
<form client-side-validation="true" asp-route="Edit">
	<input type="hidden" asp-for="Id" />
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Role.Name"></label>
				<input asp-for="Role.Name" maxlength="50" />
				<span asp-validation-for="Role.Name"></span>
			</fieldset>
			<fieldset>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="Role.IsDefault" />
					<label asp-for="Role.IsDefault" class="form-check-label">Default</label>
					<div>
						<small>(Default roles are given to all new users when they register)</small>
					</div>
				</div>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Role.Description"></label>
				<textarea asp-for="Role.Description" rows="4" maxlength="200"></textarea>
				<span asp-validation-for="Role.Description"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Role.AutoAssignPostCount">Auto-assign on Post Count</label>
				<div>
					<small>(If set, the user will automatically be assigned this role when they reach this post count.)</small>
				</div>
				<span asp-validation-for="Role.AutoAssignPostCount"></span>
				<input asp-for="Role.AutoAssignPostCount" min="1" />
			</fieldset>
			<fieldset>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="Role.AutoAssignPublications" />
					<label asp-for="Role.AutoAssignPublications" class="form-check-label">Auto-assign on Publication</label>
					<div>
						<small>(If set, the user will automatically be assigned this role when they have a movie published.)</small>
					</div>
				</div>
			</fieldset>
		</column>
	</row>
	<row>
		<column lg="6">
			<label asp-for="Role.RelatedLinks"></label>
			<string-list asp-for="Role.RelatedLinks" />
		</column>
	</row>
	<fieldset>
		<label asp-for="Role.SelectedPermissions"></label>
		<select asp-for="Role.SelectedPermissions" multiselect="true" asp-items="Model.AvailablePermissions"></select>
		<span asp-validation-for="Role.SelectedPermissions"></span>
	</fieldset>
	<fieldset class="d-none" id="assignable-permissions-section">
		<label asp-for="Role.SelectedAssignablePermissions"></label>
		<select asp-for="Role.SelectedAssignablePermissions" multiselect="true" asp-items="Model.AvailableAssignablePermissions"></select>
		<label>Roles that can be assigned:</label>
		<div id="assignable-roles">None</div>
	</fieldset>
	<form-button-bar>
		<submit-button edit="@Model.Id.HasValue"></submit-button>
		<cancel-link asp-page="List"></cancel-link>
	</form-button-bar>
</form>

@section Scripts {
	<script src="/js/roles-addedit.js"></script>
}

