@page "{role?}"
@model IndexModel
@{
	ViewData.SetTitle("Role - " + Model.RoleView.Name);
}

<a class="btn btn-secondary mb-2" asp-page="List">All Roles</a>
<partial name="_Role" , model="Model.RoleView" />
