@page
@model TASVideos.Pages.Exhibitions.Drafts.CreateModel
@{
	ViewData.SetTitle($"Create Exhibition Draft");
}
<div class="text-danger">
	@Html.ValidationSummary()
</div>

<form method="post">
	<form-group>
		<label asp-for="Exhibition.Title" class="form-control-label"></label>
		<input asp-for="Exhibition.Title" class="form-control" />
		<span asp-validation-for="Exhibition.Title" class="text-danger"></span>
	</form-group>
	<form-group>
		<label asp-for="Exhibition.ExhibitionTimestamp" class="form-control-label"></label>
		<input asp-for="Exhibition.ExhibitionTimestamp" class="form-control" />
		<span asp-validation-for="Exhibition.ExhibitionTimestamp" class="text-danger"></span>
	</form-group>
	<form-group>
		<label asp-for="Exhibition.Games"></label>
		<select asp-for="Exhibition.Games" asp-items="Model.AvailableGames"></select>
	</form-group>
	<form-group>
		<label asp-for="Exhibition.Contributors"></label>
		<select asp-for="Exhibition.Contributors" asp-items="Model.AvailableUsers"></select>
	</form-group>
	<div class="text-center">
		<button id="submit-btn" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
		<a class="btn btn-secondary" asp-page="/Exhibitions"><i class="fa fa-times"></i> Cancel</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/select-improver.js"></script>
	<script>
		engageSelectImprover('@Html.IdFor(m => m.Exhibition.Games)');
		engageSelectImprover('@Html.IdFor(m => m.Exhibition.Contributors)');
	</script>
}