@page "{id}"
@using TASVideos.Data.Entity.Exhibition
@model TASVideos.Pages.Exhibitions.Drafts.EditModel
@{
	ViewData.SetTitle($"Edit Exhibition D1");
}
<div class="text-danger">
	@Html.ValidationSummary()
</div>

<partial name="_ExhibitionForm" for="ExhibitionForm" />