@model IEnumerable<string>

<info-alert Condition="@Model.Any()">
	<label>Parents:</label>
	<ul>
		@foreach (var pageName in Model.OrderBy(m => m))
		{
			<li><a href="/@pageName">@pageName</a></li>
		}
	</ul>
</info-alert>
