@model IEnumerable<string>

<div Condition="@Model.Any()" class="alert alert-info">
	<label>Parents:</label>
	<ul>
		@foreach (var pageName in Model.OrderBy(m => m))
		{
			<li><a href="/@pageName">@pageName</a></li>
		}
	</ul>
</div>
