@model IEnumerable<RoleDisplayViewModel>
@{
	ViewData["Title"] = "Role List";
}

<h4>@ViewData["Title"]</h4>
<p>These are a list of the site roles</p>
<hr />
@if (User.Identity.IsAuthenticated)
{
	<p>See the <a asp-controller="Permissions" asp-action="Index">Permission List</a> for details on individual permissions</p>
}

@foreach (var role in Model.OrderBy(m => m.Permissions.Count()))
{
	<partial name="_Role", model="role" />
}

<a asp-action="AddEdit" class="mt-2 btn btn-primary">Create New Role</a>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
