@page "{id}/{handler?}"
@model EditModel
@{
	ViewData.SetTitle($"Editing Tag: {Model.Tag.Code}");
}

<top-button-bar>
	<delete-button condition="!Model.InUse"
				   asp-href="/Tags/Edit/@(Model.Tag.Id)/Delete"
				   warning-message="Are you sure you want to remove this tag?"></delete-button>
	<a class="btn btn-secondary" condition="Model.InUse" asp-page="/Publications/Index" asp-route-query="@Model.Tag.Code">
		Tag in Use
	</a>
</top-button-bar>

<form method="post">
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Tag.Code"></label>
				<input type="text" asp-for="Tag.Code" class="form-control"/>
				<span asp-validation-for="Tag.Code" class="text-danger"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Tag.DisplayName"></label>
				<input type="text" asp-for="Tag.DisplayName" class="form-control"/>
				<span asp-validation-for="Tag.DisplayName" class="text-danger"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button></submit-button>
		<cancel-link asp-page="Index"></cancel-link>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}