@page
@model IndexModel
@{
	ViewData.SetTitle("Game Goals");
}

<a permission="CatalogMovies" class="btn btn-primary float-end mb-3" asp-page="Create"><i class="fa fa-plus"></i> Create</a>
<table class="table table-striped table-bordered">
	<caption>Total: @Model.Goals.Count</caption>
	<thead>
		<tr>
			<th>Goal</th>
			<th>Game Count</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var goal in Model.Goals.OrderByDescending(g => g.Name == "baseline").ThenBy(g => g.Name))
		{
			<tr>
				<td>@goal.Name</td>
				<td>@goal.GameCount</td>
				<td>
					<a permission="CatalogMovies" class="btn btn-primary btn-sm" asp-page="Edit" asp-route-id="@goal.Id"><i class="fa fa-pencil"></i> Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
