@model IEnumerable<TASVideos.ViewComponents.Models.FirstEditionModel>

@{
	var groups = Model!.GroupBy(gkey => new { gkey.PublicationClassId, gkey.PublicationClassIconPath, gkey.PublicationClassName });
}

@foreach (var g in groups.OrderByDescending(g => g.Key.PublicationClassId))
{
	<card>
		<cardheader>
			<a href="/@g.Key.PublicationClassName">
				@if (g.Key.PublicationClassIconPath != null)
				{
					var classIconPath2X = $"{g.Key.PublicationClassIconPath.Split('.')[0]}-2x.png";
					var classIconPath4X = $"{g.Key.PublicationClassIconPath.Split('.')[0]}-4x.png";
					<img style="width: 18px" src="/@classIconPath2X"
						 srcset="/@g.Key.PublicationClassIconPath .5x,
						/@classIconPath2X 1x,
						/@classIconPath4X 2x" />
				}
				<strong>@g.Key.PublicationClassName</strong>
			</a>
			&nbsp;(@g.Count())
		</cardheader>
		<cardbody>
			@foreach (var pub in g.OrderBy(p => p.Id))
			{
				<pub-link id="pub.Id">@pub.Title</pub-link>
				<br />
			}
		</cardbody>
	</card>
}
