@model IEnumerable<TASVideos.ViewComponents.Models.FirstEditionModel>

@{
	var groups = Model.GroupBy(gkey => new  { gkey.TierId, gkey.TierIconPath, gkey.TierName });
}

@foreach (var g in groups.OrderByDescending(g => g.Key.TierId))
{
	<card>
		<cardheader>
			<a href="/@g.Key.TierName">
				@if (g.Key.TierIconPath != null)
				{
					var tierIconPath2x = $"{g.Key.TierIconPath.Split('.')[0]}-2x.png";
					var tierIconPath4x = $"{g.Key.TierIconPath.Split('.')[0]}-4x.png";
					<img style="width: 18px" src="/@tierIconPath2x"
						srcset="/@g.Key.TierIconPath .5x,
						/@tierIconPath2x 1x,
						/@tierIconPath4x 2x" />
				}
                		<strong>@g.Key.TierName</strong>
            		</a>
			&nbsp;(@g.Count())
		</cardheader>
		<cardbody>
			@foreach (var pub in g.OrderBy(p => p.Id))
			{
				<pub-link id="pub.Id">@pub.Title</pub-link>
				<br />
			}
		</cardbody>
	</card>
}
