/*** Bootstrap customizations **/
:root {
	--bs-primary: #105cb6;
	--bs-primary-rgb: 16, 92, 182;
	--bs-secondary: #6a37a0;
	--bs-secondary-rgb: 106, 55, 160;
	--bs-info: #c2d4fc;
	--bs-info-rgb: 194, 212, 252;
	--bs-dark: #000000;
	--cardprimary: #acd;
	--cardsecondary: #cde;
}

.bg-cardprimary {
	background-color: var(--cardprimary) !important;
}

.bg-cardsecondary {
	background-color: var(--cardsecondary) !important;
}

a {
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}

	&[disabled] {
	pointer-events: none;
	}
}

body {
	font-family: helvetica, sans-serif;
	font-size: 14px;
	background: var(--bs-gray-200) linear-gradient(var(--bs-info) 0, var(--bs-gray-200) 250px) repeat-x;
}

#banner {
	background: #110931;

	.site-banner {
		top: 0;
		left: 0;
	}

	.site-icon {
		position: absolute;
		left: -3.5rem;
		top: -1rem;
		z-index: 1;
		width: 121px;
	}

	@media (min-width: 768px) {
		#mantra {
			margin-left: 3.5rem;
		}
	}

	#mantra {
		font-weight: bold;
		font-family: Verdana;
		z-index: 1;

		#brand {
			color: var(--bs-white);
			font-size: 17px;
			font-family: helvetica,arial,sans-serif
		}

		#mantra1 {
			color: var(--bs-white);
			font-size: 10px;
		}

		#mantra2 {
			color: var(--bs-gray-400);
			font-size: 9px;
		}
	}

	.navbar-toggler, .navbar-collapse {
		z-index: 1;
	}
}

.alert-info {
	box-shadow:0 0 1px var(--bs-secondary);
}

.form-control {
	font-size: .875rem;
}

.btn {
	font-size: .875rem;

	&-sm {
		font-size: .750rem;
	}
}

h1 {
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-size: 1.25em;
	line-height: 1.5;
	background: var(--bs-primary);
	color: var(--bs-white);
	width: 95%;
	// box-shadow: inset 0px 0px 2px 0px #430f76;
	// background-color: $primary;
	// border: 1px solid #430f76;

	&.publication-header {
		border-radius: 0;
		border-top-right-radius: .25rem;
		border-top-left-radius: .25rem;
	}
}

.wiki {
	h1 {
		margin-left: 0;
		margin-bottom: 1rem;
	}

	div.p {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

.btn-separator::after {
	content: ' ';
	display: block;
	float: left;
	background: var(--bs-gray-500);
	margin: 0 10px;
	height: 34px;
	width: 1px;
}

/* Firefox fix for file inputs */
@-moz-document url-prefix() {
	input[type="file"].form-control {
		height: auto;
	}
}

.form-control-label {
	font-weight: bold;
}

.topic-header {
	background-color: var(--bs-gray-200);
}

.card:not(.bg-info):not(.bg-danger):not(.bg-success):not(.bg-warning):not(.bg-light):not(.bg-dark) .card-header {
	background-color: var(--bs-gray-200);
}

.tab-content {
	background-color: var(--bs-white);
}

.tab-pane {
	padding: 10px;
}

.quotecontainer {
	margin: 0.75rem;
	padding: .25rem;
	background-color: var(--bs-gray-200);
	border-radius: 0.25rem;
	border: 1px dashed var(--bs-gray-700);
}
.postbody {
	white-space: pre-wrap;

	.a-l { text-align: left; }
	.a-c { text-align: center; }
	.a-r { text-align: right; }

	.warning {
		border: 2px solid var(--bs-danger);
		border-radius: 2px;
		padding: 2px;

		&::before {
			content: "Warning: ";
			color: var(--bs-danger);
			font-weight: bold;
		}
	}

	.forumline {
		border: 2px solid var(--bs-primary);
		border-radius: 2px;
		padding: 2px;
	}

	.highlight {
		background-color: var(--bs-light);
	}	
}


.spoiler {
	background-color: var(--bs-dark);
	color: var(--bs-dark);

	&:hover {
		color: var(--bs-white);
	}
	
}

[data-toggle="collapse"] {
	.fa::before {
		content: "\f139";
	}

	&.collapsed .fa::before {
		content: "\f13a";
	}
}

.hiddenifmodule {
	display: none;
}

.error-code {
	border: 2px solid var(--bs-danger);
	background-color: var(--bs-white);
	padding: 20px;
}

.error-marker {
	position: relative;
	border: 2px solid var(--bs-danger);

	span {
		position: absolute;
		background-color: var(--bs-white);
		padding: 4px;
		border: 1px solid var(--bs-danger);
		color: var(--bs-danger);
		bottom: 13px;
		opacity: 0.2;

		&:hover {
			opacity: 0.8;
		}
	}
}

.embed {
	border: 0
}

.embedleft {
	margin-right: 10px;
	border: 0;
	float: left
}

.embedright {
	margin-left: 10px;
	border: 0;
	float: right
}

.table-container {
	overflow-x: auto;
}

/* Wiki Tables */
article.wiki table {
	width: 100%;
	margin-bottom: 1rem;
	color: var(--bs-dark);
	border-collapse: collapse;

	th, td {
		padding: 0.3rem;
		vertical-align: top;
		border: 1px solid var(--bs-gray-600);
	}
	tbody th {
		background-color: rgba(var(--bs-black-rgb), 0.05);
	}
	tbody + tbody {
		border-top: 2px solid #dee2e6;
	}
}

.module-error {
	color: var(--bs-danger);
	border: 1px solid var(--bs-danger);
	border-radius: 5px;
	background-color: #f8d7da;
	padding: .75rem 1.25rem;
}


/* Card Link */
.card-link {
	padding: 1rem;
	display: inline-block;
	margin: 1rem;
	width: 18rem;
	margin-bottom: 2rem;
	background-color: var(--bs-white);
	text-align: left;
	border-radius: 3px;
	text-decoration: none;

	&:hover {
		--dark-blue: 9, 30, 66;
		box-shadow: rgba(var(--dark-blue), 0.25) 0 4px 8px -2px, rgba(var(--dark-blue), 0.31) 0 0 1px;
		transition: opacity 140ms ease-in-out 0;
		transform: translate3d(0, -2px, 0);
	}
}

.card-link-header {
	color: var(--bs-secondary);
}

.card-link-arrow {
	margin-left: .5rem;
	float: right;
}

.wiki-edit {
	font-family: courier,"courier new",monospace;
}

.forum-signature {
	font-style: italic;
	background-color: var(--bs-gray-200);
	border-top: solid 1px var(--bs-gray-400);
	padding: .5rem;
}

.forum-profile-section {
	border-right: solid 1px var(--bs-gray-200);
	padding-right: 0;
}

.forum-post-highlight {
	border: solid 3px;
	border-color: var(--bs-info);
	box-shadow: var(--bs-gray-400) 0px 8px 16px;
}

.pixelart-image {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}