a[disabled] {
	pointer-events: none;
}

body {
	font-family: georgia,"times new roman",serif;
	font-size: 14px;
	background: #EEE linear-gradient(#c2d4fc 0,#eeeeee 250px) repeat-x;
}

#banner {
	border-bottom: 4px solid #371682;
	background: #110931 url(/images/tasvideosbg.png) no-repeat;
}

#banner #mantra {
	margin-left: 54px;
	font-weight: bold;
	font-family: Verdana;
}

#banner #mantra #brand {
	color: #FFF;
	font-size: 17px;
	font-family: helvetica,arial,sans-serif
}

#banner #mantra #mantra1 {
	color: #FFF;
	font-size: 10px;
}

#banner #mantra #mantra2 {
	color: #CCD;
	font-size: 9px;
}

.form-control {
	font-size: .875rem;
}

.btn {
	font-size: .875rem
}

.btn-sm {
	font-size: .750rem
}

h1 {
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-size: 1.25em;
	line-height: 1.5;
	background: #531f86;
	color: #FFF;
	width: 95%;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

.btn-separator::after {
	content: ' ';
	display: block;
	float: left;
	background: #ADADAD;
	margin: 0 10px;
	height: 34px;
	width: 1px;
}

/*** Bootstrap customizations **/
.form-control-label {
	font-weight: bold;
}

.topic-header {
	background-color: #EAEAEA;
}

.card:not(.bg-info):not(.bg-danger):not(.bg-success):not(.bg-warning):not(.bg-light):not(.bg-dark) .card-header {
	background-color: #EAEAEA;
}

.tab-content {
	background-color: #FFF;
}

.tab-pane {
	padding: 10px;
}

.quotecontainer {
	margin: 0.75rem;
	padding: .25rem;
	font-style: italic;
	background-color: #EEE;
	border-radius: 0.25rem;
	border: 1px dashed #444;
}
.postbody { white-space: pre-wrap; }
.a-l { text-align: left; }
.a-c { text-align: center; }
.a-r { text-align: right; }

.spoiler {
	background-color: black;
	color: black;
}

.spoiler:hover {
	color: white;
}

[data-toggle="collapse"] .fa::before {
	content: "\f139";
}

[data-toggle="collapse"].collapsed .fa::before {
	content: "\f13a";
}

.hiddenifmodule {
	display: none;
}

.error-code {
	border: 2px solid #c00;
	background-color: white;
	padding: 20px;
}

.error-marker {
	position: relative;
	border: 2px solid #c00;
}
	.error-marker span {
		position: absolute;
		background-color: white;
		padding: 4px;
		border: 1px solid #c00;
		color: #c00;
		bottom: 13px;
		opacity: 0.2;
	}
		.error-marker span:hover {
			opacity: 0.8;
		}

.embed {
	border: 0
}

.embedleft {
	margin-right: 10px;
	border: 0;
	float: left
}

.embedright {
	margin-left: 10px;
	border: 0;
	float: right
}

article.wiki table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	border-collapse: collapse;
}

	article.wiki table th,
	article.wiki table td {
		padding: 0.75rem;
		vertical-align: top;
		border: 1px solid #6c757d;
	}

article.wiki table tbody th {
	background-color: rgba(0, 0, 0, 0.05);
}

article.wiki table tbody + tbody {
	border-top: 2px solid #dee2e6;
}