@import "variables.scss";

a[disabled] {
	pointer-events: none;
}

body {
	font-family: helvetica, sans-serif;
	font-size: 14px;
	background: #EEE linear-gradient($info 0, #eee 250px) repeat-x;
}

#banner {
	border-bottom: 4px solid #371682;
	background: #110931 url(/images/tasvideosbg.png) no-repeat;

	#mantra {
		margin-left: 54px;
		font-weight: bold;
		font-family: Verdana;

		#brand {
			color: $white;
			font-size: 17px;
			font-family: helvetica,arial,sans-serif
		}

		#mantra1 {
			color: $white;
			font-size: 10px;
		}

		#mantra2 {
			color: #CCD;
			font-size: 9px;
		}
	}
}

.alert-info {
	box-shadow:0 0 1px $secondary;
}

.form-control {
	font-size: .875rem;
}

.btn {
	font-size: .875rem
}

.btn-sm {
	font-size: .750rem
}

h1 {
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-size: 1.25em;
	line-height: 1.5;
	background: $primary;
	color: $white;
	width: 95%;

	// box-shadow: inset 0px 0px 2px 0px #430f76;
    // background-color: $primary;
    // border: 1px solid #430f76;
}

.wiki h1 {
	margin-left: 0;
	margin-bottom: 1rem;
}

.wiki div.p {
	margin-top: 0;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

.btn-separator::after {
	content: ' ';
	display: block;
	float: left;
	background: #ADADAD;
	margin: 0 10px;
	height: 34px;
	width: 1px;
}

/*** Bootstrap customizations **/

/* Firefox fix for file inputs */
@-moz-document url-prefix() {
	input[type="file"].form-control {
		height: auto;
	}
}

.form-control-label {
	font-weight: bold;
}

.topic-header {
	background-color: #EAEAEA;
}

.card:not(.bg-info):not(.bg-danger):not(.bg-success):not(.bg-warning):not(.bg-light):not(.bg-dark) .card-header {
	background-color: #EAEAEA;
}

.tab-content {
	background-color: $white;
}

.tab-pane {
	padding: 10px;
}

.quotecontainer {
	margin: 0.75rem;
	padding: .25rem;
	font-style: italic;
	background-color: #EEE;
	border-radius: 0.25rem;
	border: 1px dashed #444;
}
.postbody {
	white-space: pre-wrap;

	.a-l { text-align: left; }
	.a-c { text-align: center; }
	.a-r { text-align: right; }

	.warning {
		border: 2px solid $danger;
		border-radius: 2px;
		padding: 2px;

		&::before {
			content: "Warning: ";
			color: $danger;
			font-weight: bold;
		}
	}

	.forumline {
		border: 2px solid #0062cc;
		border-radius: 2px;
		padding: 2px;
	}

	.highlight {
		background-color: #ffa;
	}	
}


.spoiler {
	background-color: black;
	color: black;

	&:hover {
		color: $white;
	}
	
}

[data-toggle="collapse"] .fa::before {
	content: "\f139";
}

[data-toggle="collapse"].collapsed .fa::before {
	content: "\f13a";
}

.hiddenifmodule {
	display: none;
}

.error-code {
	border: 2px solid $danger;
	background-color: $white;
	padding: 20px;
}

.error-marker {
	position: relative;
	border: 2px solid $danger;

	span {
		position: absolute;
		background-color: $white;
		padding: 4px;
		border: 1px solid $danger;
		color: $danger;
		bottom: 13px;
		opacity: 0.2;

		&:hover {
			opacity: 0.8;
		}
	}
}

.embed {
	border: 0
}

.embedleft {
	margin-right: 10px;
	border: 0;
	float: left
}

.embedright {
	margin-left: 10px;
	border: 0;
	float: right
}

/* Wiki Tables */

article.wiki table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	border-collapse: collapse;

	th, td {
		padding: 0.3rem;
		vertical-align: top;
		border: 1px solid #6c757d;
	}
	tbody th {
		background-color: rgba(0, 0, 0, 0.05);
	}
	tbody + tbody {
		border-top: 2px solid #dee2e6;
	}
}

.module-error {
	color: $danger;
	border: 1px solid $danger;
	border-radius: 5px;
	background-color: #f8d7da;
	padding: .75rem 1.25rem;
}


/* Card Link */
.card-link {
	padding: 1rem;
	display: inline-block;
	margin: 1rem;
	width: 18rem;
	margin-bottom: 2rem;
	background-color: $white;
	text-align: left;
	border-radius: 3px;
	text-decoration: none;

	&:hover {
		box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.31) 0 0 1px;
		transition: opacity 140ms ease-in-out 0;
		transform: translate3d(0, -2px, 0);
	}
}

.card-link-header {
	color: #531f86
}

.card-link-arrow {
	margin-left: .5rem;
	float: right;
}

.wiki-edit {
	font-family: courier,"courier new",monospace;
}

.forum-signature {
	font-style: italic;
	background-color: #eaeaea;
	border-top: solid 1px #ccc;
	padding: .5rem;
}

.forum-profile-section {
	border-right: solid 1px #eaeaea;
}