a[disabled] {
	pointer-events: none;
}

body {
	background: #EEE linear-gradient(#c2d4fc 0,#eeeeee 250px) repeat-x;
}

#banner {
	border-bottom: 4px solid #371682;
	background: #110828 url(/images/tasvideosbg.png) no-repeat;
}

#banner #mantra {
	margin-left: 54px;
	font-weight: bold;
	font-family: Verdana;
}

#banner #mantra #brand {
	color: #FFF;
	font-size: 17px;
	font-family: helvetica,arial,sans-serif
}

#banner #mantra #mantra1 {
	color: #FFF;
	font-size: 10px;
}

#banner #mantra #mantra2 {
	color: #CCD;
	font-size: 9px;
}

/* Atomic Styles */
.mb-s { margin-bottom: 3px; }
.mb-m { margin-bottom: 5px; }
.mb-l { margin-bottom: 10px; }

.mt-s { margin-top: 3px; }
.mt-m { margin-top: 5px; }
.mt-l { margin-top: 10px; }
.mt-el { margin-top: 20px; }