@page
@model CreateModel
@{
	ViewData.SetTitle("Creating New Forum");
}

<partial Name="_ForumHeader" />
<form method="post">
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Forum.Name"></label>
				<input asp-for="Forum.Name" />
				<span asp-validation-for="Forum.Name"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Forum.Category"></label>
				<select asp-for="Forum.Category" asp-items="Model.AvailableCategories"></select>
				<span asp-validation-for="Forum.Category"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Forum.ShortName"></label>
				<small>
					(Used for IRC notifications and other external posts)
				</small>
				<input asp-for="Forum.ShortName" />
				<span asp-validation-for="Forum.ShortName"></span>
			</fieldset>
			<fieldset>
				<input type="checkbox" class="forum-check-input" asp-for="Forum.RestrictedAccess" />
				<label class="form-check-label" asp-for="Forum.RestrictedAccess"></label>
				<br />
				(If set, only users with permission to restricted forums will be allowed to see this forum)
			</fieldset>
		</column>
	</row>
	<fullrow class="mt-2">
		<label asp-for="Forum.Description"></label>
		<textarea asp-for="Forum.Description" rows="4"></textarea>
		<span asp-validation-for="Forum.Description"></span>
	</fullrow>
	<form-button-bar>
		<submit-button edit="false"></submit-button>
		<cancel-link asp-page="/Forum/Index"></cancel-link>
	</form-button-bar>
</form>
