@page
@model CreateModel
@{
	ViewData["Title"] = "Creating New Forum";
}
<partial Name="_ForumHeader" />
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
	<row>
		<column lg="6">
			<form-group>
				<label asp-for="Forum.Name"></label>
				<input type="text" asp-for="Forum.Name" class="form-control"/>
				<span asp-validation-for="Forum.Name" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Forum.CategoryId"></label>
				<select asp-for="Forum.CategoryId" asp-items="Model.AvailableCategories" class="form-control"></select>
				<span asp-validation-for="Forum.CategoryId" class="text-danger"></span>
			</form-group>
		</column>
		<column lg="6" class="mt-lg-0 mt-2">
			<form-group>
				<label asp-for="Forum.ShortName"></label>
				<small>
					(@Html.DescriptionFor(m => m.Forum.ShortName))
				</small>
				<input type="text" asp-for="Forum.ShortName" class="form-control"/>
				<span asp-validation-for="Forum.ShortName" class="text-danger"></span>
			</form-group>
			<form-group>
				<input type="checkbox" class="forum-check-input" asp-for="Forum.Restricted" />
				<label class="form-check-label" asp-for="Forum.Restricted"></label>
				<br />
				(@Html.DescriptionFor(m => m.Forum.Restricted))
			</form-group>
		</column>
	</row>
	<fullrow class="mt-2">
		<label asp-for="Forum.Description"></label>
		<textarea asp-for="Forum.Description" class="form-control" rows="4"></textarea>
		<span asp-validation-for="Forum.Description" class="text-danger"></span>
	</fullrow>
	<form-button-bar>
		<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create</button>
		<a asp-page="Forum/Index" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</form-button-bar>
</form>
