@page "{id}"
@model EditModel
@{
	ViewData.SetTitle($"TASVideos Forum {Model.Forum.Name}");
}
<partial Name="_ForumHeader" />
<fieldset>
	<delete-button
		condition="@Model.CanDelete"
		asp-href="/Forum/Subforum/Edit/@Model.Id?handler=Delete"
		class="float-end"></delete-button>
</fieldset>
<form method="post">
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Forum.Name"></label>
				<input type="text" asp-for="Forum.Name" class="form-control"/>
				<span asp-validation-for="Forum.Name" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Forum.CategoryId"></label>
				<select asp-for="Forum.CategoryId" asp-items="Model.AvailableCategories" class="form-select"></select>
				<span asp-validation-for="Forum.CategoryId" class="text-danger"></span>
			</fieldset>
		</column>
		<column lg="6" class="mt-lg-0 mt-2">
			<fieldset>
				<label asp-for="Forum.ShortName"></label>
				<small>
					(@Html.DescriptionFor(m => m.Forum.ShortName))
				</small>
				<input type="text" asp-for="Forum.ShortName" class="form-control"/>
				<span asp-validation-for="Forum.ShortName" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<input type="checkbox" class="forum-check-input" asp-for="Forum.Restricted" />
				<label class="form-check-label" asp-for="Forum.Restricted"></label>
				<br />
				(@Html.DescriptionFor(m => m.Forum.Restricted))
			</fieldset>
		</column>
	</row>
	<fullrow class="mt-2">
		<label asp-for="Forum.Description"></label>
		<textarea asp-for="Forum.Description" class="form-control" rows="4"></textarea>
		<span asp-validation-for="Forum.Description" class="text-danger"></span>
	</fullrow>
	<form-button-bar>
		<submit-button></submit-button>
		<cancel-button asp-page="Index" asp-route-id="@Model.Id"></cancel-button>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}