@model IReadOnlyCollection<TASVideos.WikiModules.Models.GameEntry>

<div condition="@Model.Count == 0">
	<alert>No records found.</alert>
</div>
<div condition="@Model.Count > 0">
	<h4>Total: @Model.Count</h4>
	<ul>
		@foreach (var game in Model.OrderBy(g => g.DisplayName))
		{
			<li>
				<game-link id="game.Id">@game.DisplayName</game-link>
			</li>
		}
	</ul>
</div>

