@page
@model ListModel
@{
	ViewData["Title"] = "Listing of Games With Addresses";
}
<warning-alert>
	Ram address support will be removed from TASVideos. For applicable systems, a .wch file will be generated to replace see the <a asp-page="/Forums/Topics/Index" asp-route-id="23443">discussion topic</a> for details
</warning-alert>
<div class="table-container">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Game</th>
			<th></th>
		</tr>
		@foreach (var entry in Model.Entries.OrderBy(e => e.GameName))
		{
			<tr>
				<td>@entry.GameName</td>
				<td>
					<a asp-page="Index" asp-route-id="@entry.GameId" class="btn btn-secondary"><i class="fa fa-eye"></i> View</a>
					<a asp-page="Edit" asp-route-id="@entry.GameId" permission="EditRamAddresses" class="btn btn-primary border border-warning"><i class="fa fa-pencil"></i> Edit</a>
				</td>
			</tr>
		}
	</table>
</div>
