@model TASVideos.Core.Services.AwardAssignmentSummary
@{
	// TODO: fix file names!
	int shortYear = Model.Year > 2018 ? Model.Year - 2000 : Model.Year;
	int longYear = Model.Year;
}
<a href="/Awards/@(longYear.ToString())#@(Model.ShortName)_@(shortYear)" title="Award - @Model.Description">
	<img style="max-width: 48px;"class="pixelart-image" src="/awards/@($"{Model.ShortName}_{shortYear.ToString()}.png")" alt="@Model.Description" loading="lazy" />
</a>