@model TASVideos.Core.Services.AwardAssignmentSummary
@{
	string awardName = $"{Model.ShortName}_{Model.Year.ToString()}";
}
<a href="/Awards/@Model.Year.ToString()#@(Model.ShortName)_@Model.Year" title="Award - @Model.Description"><img style="max-height: 48px;" 
		 srcset="/awards/@(awardName).png .5x,
		 /awards/@(awardName)-2x.png 1x,
		 /awards/@(awardName)-4x.png 2x"
		 src="/awards/@(awardName)-2x.png" alt="@Model.Description" loading="lazy" /></a>