@model TASVideos.Core.Services.PublicationHistoryNode
@{
	var highlight = Model!.Id == (int?)ViewData["Highlight"] ? ViewData["HighlightClass"] : "";
	var classIconPath2X = "";
	var classIconPath4X = "";
	if (Model.ClassIconPath != null)
	{
		classIconPath2X = $"{Model.ClassIconPath.Split('.')[0]}-2x.png";
		classIconPath4X = $"{Model.ClassIconPath.Split('.')[0]}-4x.png";
	}
}
<img style="width: 18px" condition="!string.IsNullOrWhiteSpace(Model.ClassIconPath)" src="/@classIconPath2X"
	 srcset="/@Model.ClassIconPath 1x,
	 /@classIconPath2X 2x,
	 /@classIconPath4X 4x"/>
<pub-link class="@highlight text-decoration-line-through" id="@Model.Id">@Model.Title</pub-link>
<span>(<timezone-convert asp-for="@Model.CreateTimestamp" date-only="true" />)</span>
@if (Model.Obsoletes.Any())
{
	<ul>
		@foreach (var node in Model.Obsoletes)
		{
			<li>
				<partial name="_HistoryEntry" model="node" />
			</li>
		}
	</ul>
}