@model TASVideos.Core.Services.Wiki.IWikiPage
@inject ILanguages Languages
@{
	var (_, languages) = await Languages.GetTranslations(Model.PageName);
}

<div class="dropdown" condition="languages.Any()">
	<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="translation-menu" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="fa fa-language fa-xl"></i>
	</button>
	<ul class="dropdown-menu" aria-labelledby="translation-menu">
		@foreach (var l in languages)
		{
			<li><a class="dropdown-item" href="/@l.Path">@l.Code | @l.Lang.DisplayName</a></li>
		}
	</ul>
</div>