@model (string ElementId, string PreviewPath)

<div id="preview-container" class="d-none">
	<br />
	<div class="card">
		<div class="card-header">Preview:</div>
		<div id="preview-contents" class="card-body">

		</div>
	</div>
</div>

<script>
	document.getElementById('preview-button').onclick = function () {
		const markup = document.getElementById('@Model.ElementId').value;
		document.getElementById('preview-container').classList.remove('d-none');

		fetch("@Model.PreviewPath", { method: 'POST', body: markup})
			.then(r => {
				if (!r.ok) {
					alert("Could not generate preview");
					throw Error(r.statusText);
				}

				return r;
			})
			.then(r => r.text())
			.then(d => {
				document.getElementById('preview-contents').innerHTML = d;
				Prism.highlightAll();
			})
			.catch(e => alert("Could not generate preview"));
	}
</script>
