<nav-item activate="Search">
    <form method="GET" action="/Search/Index">
        <div class="input-group input-group-sm mt-1">
            <a href="/Search/Index" type="submit" class="btn btn-sm border border-silver nav-link">
                <i class="fa fa-search"></i>
            </a>
            <input type="text" name="SearchTerms" class="form-control" />
        </div>
    </form>
</nav-item>
