@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TASVideos.Core.Services.Wiki.IWikiPage
@{
	bool canEdit = WikiHelper.UserCanEditWikiPage(Model.PageName, User.Name(), User.Permissions());
}

@if (canEdit)
{
	<div class="text-end mb-2">
		<a asp-page="/Wiki/Edit" asp-route-path="@Model.PageName" class="btn btn-primary border border-warning"><i class="fa fa-pencil"></i> Edit</a>
	</div>
}

@if (Model.IsSystemPage())
{
	<info-alert>
		@await Html.RenderWiki(SystemWiki.IsSystemPage)
	</info-alert>
}
else if (Model.IsGameResourcesPage())
{
	<info-alert>
		<row>
			<div class="col-12">
				@await Html.RenderWiki(SystemWiki.GameResourcesHeader)
			</div>
		</row>
	</info-alert>
}
else if (Model.IsHomePage())
{
	<partial name="_HomePageHeader" model="Model" />
}

<partial name="_ListLanguages" model="Model" />
