@using TASVideos.Core.Services.Wiki
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "_Layout.cshtml";
	IWikiPage pageData = ViewData.GetWikiPage() ?? throw new InvalidOperationException("WikiPage not set");

	ViewData["ActiveTab"] = WikiHelper.IsGameResourcesPage(pageData.PageName)
		? "Game Resources"
		: pageData.PageName;

	ViewData.SetMetaTags(new MetaTag
	{
		Title = pageData.PageName,
		Description = pageData.AuthorName is not null && pageData.RevisionMessage is not null
			? $"Last Edited By {pageData.AuthorName} - {pageData.RevisionMessage}"
			: null
	});
}

@section PageTitle {
	<div class="container mb-2">
		<nav aria-label="breadcrumb" class="card card-header">
			<ol class="breadcrumb m-0">
				@{
					var allPages = pageData.PageName.SplitPathCamelCase().Split(" / ");
					for (int i = 0; i < allPages.Length - 1; i++)
					{
						<li class="breadcrumb-item"><a href="@('/' + string.Join('/', allPages.Take(i+1)).RemoveAllSpaces())">@allPages[i]</a></li>
					}
					<li class="breadcrumb-item active" aria-current="page"><h1>@allPages.Last()</h1></li>
				}
			</ol>
		</nav>
	</div>
}
<partial name="_WikiLayoutHeader" model="pageData" />
@RenderBody()
<partial name="_WikiLayoutFooter" model="pageData" />

@section Scripts {
	@if (IsSectionDefined("Scripts"))
	{
		@await RenderSectionAsync("Scripts")
	}
}
