@model WikiPage
@{
	bool canEdit = WikiHelper.UserCanEditWikiPage(Model.PageName, User.Name(), User.Permissions());
}

<!-- Eventually we will show available translations here-->
@if (canEdit)
{
	<div class="text-end">
		<a asp-page="/Wiki/Edit" asp-route-path="@Model.PageName" class="btn bg-primary text-white">Edit</a>
	</div>
	<hr />
}

@if (Model.IsSystemPage())
{
	@await Component.SystemPageHeader(Model)
}
else if (Model.IsGameResourcesPage())
{
	@await Component.GameResourcesHeader(Model)
}
else if (Model.IsHomePage())
{
	@await Component.HomePageHeader(Model)
}
else
{
	@await Component.ListParents(Model)
}
