@model WikiPage
@{
	bool canEdit = WikiHelper.UserCanEditWikiPage(Model!.PageName, User.Name(), User.Permissions());
}

@if (canEdit)
{
	<div class="text-end mb-2">
		<a asp-page="/Wiki/Edit" asp-route-path="@Model.PageName" class="btn btn-primary border border-warning"><i class="fa fa-pencil"></i> Edit</a>
	</div>
}

@if (Model.IsSystemPage())
{
	@await Component.SystemPageHeader(Model)
}
else if (Model.IsGameResourcesPage())
{
	@await Component.GameResourcesHeader(Model)
}
else if (Model.IsHomePage())
{
	@await Component.HomePageHeader(Model)
}

@await Component.ListLanguages(Model)
