@model (string Changed, Microsoft.EntityFrameworkCore.EntityState Kind)
@using System.Text.Json
@using Microsoft.EntityFrameworkCore

@{
	var before = "";
	var after = "";
	var options = new JsonSerializerOptions { WriteIndented = true };
}


@switch (Model.Kind)
{
	case EntityState.Modified:
	{
		var temp = JsonSerializer.Deserialize<IndexModel.ModifiedEntry>(Model.Changed);
		before = JsonSerializer.Serialize(temp!.Before, options);
		after = JsonSerializer.Serialize(temp.After, options);
		break;
	}

	case EntityState.Added:
	{
		var temp = JsonSerializer.Deserialize<object>(Model.Changed);
		after = JsonSerializer.Serialize(temp, options);
		break;
	}

	case EntityState.Deleted:
	{
		var temp = JsonSerializer.Deserialize<object>(Model.Changed);
		before = JsonSerializer.Serialize(temp, options);
		break;
	}
}

<td class="change">
	<input class="before" type="hidden" value="@before" />
	<input class="after" type="hidden" value="@after" />
</td>