@model AlternateStreaming

@foreach (var pub in Model.Publications.OrderBy(u => u.Id))
{
	<card class="mb-2">
		<card-header>
			<pub-link id="pub.Id">@pub.Title</pub-link>
		</card-header>
		<card-body>
			<ul>
				@foreach(var url in pub.Urls.OrderBy(p => string.IsNullOrWhiteSpace(p.DisplayName)))
				{
					<li><a href="@url.Url">@(string.IsNullOrEmpty(url.DisplayName) ? url.Url : url.DisplayName)</a></li>
				}
			</ul>
		</card-body>
	</card>
}
