@model FirstEditionTas
@{
	var groups = Model.Movies.GroupBy(gkey => new { gkey.ClassId, gkey.ClassIconPath, gkey.ClassName });
}

@foreach (var g in groups.OrderByDescending(g => g.Key.ClassId))
{
	<card>
		<card-header>
			<a href="/@g.Key.ClassName">
				<icon path="@g.Key.ClassIconPath"></icon>
				<strong>@g.Key.ClassName</strong>
			</a>
			&nbsp;(@g.Count())
		</card-header>
		<card-body>
			@foreach (var pub in g.OrderBy(p => p.Id))
			{
				<pub-link id="pub.Id">@pub.Title</pub-link>
				<br />
			}
		</card-body>
	</card>
}
