@model MoviesByAuthor

@{
	var authors = Model.NewbieAuthors.Any() && !Model.MarkNewbies
		? Model.NewbieAuthors
		: Model.Publications.SelectMany(p => p.Authors).Distinct().ToList();

	var authorsWithPubs = authors.Select(author => new
	{
		Name = author,
		Pubs = Model.Publications.Where(p => p.Authors.Any(a => a == author)).ToList()
	});
}

<div condition="!Model.Publications.Any()">
	No records found
</div>

<div condition="Model.Publications.Any()">
	@foreach (var author in authorsWithPubs.OrderByDescending(a => a.Pubs.Count).ThenBy(a => a.Name))
	{
		<card>
			<card-header>
				<profile-link username="@author.Name"></profile-link>
				<span>(@author.Pubs.Count)</span>
				<span condition="Model.MarkNewbies && Model.NewbieAuthors.Any(a => a == author.Name)" class="badge bg-success text-white">New Author</span>
			</card-header>
			<card-body>
				<ul style="list-style-type: none;">
					@foreach (var pub in author.Pubs)
					{
						<li>
							<icon condition="Model.ShowClasses" path="@pub.ClassIconPath" />
							<pub-link id="pub.Id"> @pub.Title </pub-link>
						</li>
					}
				</ul>
			</card-body>
		</card>
	}
</div>
