@model MovieChangeLog
<partial name="_Pager" model="Model.Logs" />
@{
	var mergedHistoryModel = Model.Logs
			.GroupBy(gkey => gkey.Date)
			.Select(group => new MovieChangeLog.HistoryEntry
			{
				Date = group.Key,
				Pubs = group.SelectMany(item => item.Pubs).Distinct().ToList()
			}).ToList();
}

@foreach (var pubGroup in mergedHistoryModel.OrderByDescending(p => p.Date))
{
	<h4>@pubGroup.Date.ToShortDateString()</h4>
	<fullrow>
		@foreach (var pub in pubGroup.Pubs)
		{
			<div class="ms-2 mt-1">
				<div class="float-start me-2" condition="!string.IsNullOrWhiteSpace(pub.ClassIconPath)">
					<icon path="@pub.ClassIconPath" />
				</div>
				<pub-link id="pub.Id">@pub.Name</pub-link>
				@if (pub.IsNewGame)
				{
					<span>(new game)</span>
				}
				else if (pub.IsNewBranch)
				{
					<span>(new branch)</span>
				}
				else
				{
					<span>(improvement)</span>
				}
				<br />
			</div>
		}
	</fullrow>

}

<partial name="_Pager" model="Model.Logs" />
