@model NoGame

@if (Model.Missing.Publications.Any())
{
	<h4>Publications With Missing Games (@Model.Missing.Publications.Count)</h4>
	<ul>
		@foreach (var pub in Model.Missing.Publications)
		{
			<li>
				<pub-link id="pub.Id">@pub.Title</pub-link>
			</li>
		}
	</ul>
}

@if (Model.Missing.Publications.Any() && Model.Missing.Submissions.Any())
{
	<hr />
}

@if (Model.Missing.Submissions.Any())
{

	<h4>Submissions With Missing Games (@Model.Missing.Submissions.Count)</h4>
	<ul>
		@foreach (var sub in Model.Missing.Submissions)
		{
			<li>
				<sub-link id="sub.Id">@sub.Title</sub-link>
			</li>
		}
	</ul>
}