@model PlatformAuthorLists
@{
	var authors = Model.Publications.SelectMany(p => p.Authors).Distinct().ToList();

	var authorsWithPus = authors.Select(author => new
	{
		Name = author,
		Pubs = Model.Publications.Where(p => p.Authors.Any(a => a == author)).ToList()
	});
}

<div condition="!Model.Publications.Any()">
	No records found
</div>

<div condition="Model.Publications.Any()">
	@foreach (var author in authorsWithPus.OrderByDescending(a => a.Pubs.Count).ThenBy(a => a.Name))
	{
		<card>
			<card-header>
				<profile-link username="@author.Name"></profile-link>
				<span>(@author.Pubs.Count)</span>
			</card-header>
			<card-body>
				<ul style="list-style-type: none;">
					@foreach (var pub in author.Pubs)
					{
						<li>
							<icon condition="Model.ShowClasses" path="@pub.ClassIconPath" />
							<pub-link id="pub.Id"> @pub.Title </pub-link>
						</li>
					}
				</ul>
			</card-body>
		</card>
	}
</div>
