@model PlayerPointsTable
<standard-table>
	<tr>
		<th>Post</th>
		<th>Player</th>
		<th>Points</th>
		<th>Player Rank</th>
	</tr>
	@foreach (var item in Model.Authors)
	{
		<tr>
			<td>@item.Position</td>
			<td>@item.Player</td>
			<td>@item.Points</td>
			<td>@item.Rank</td>
		</tr>
	}
</standard-table>
