@model PublicationPoints
<standard-table>
	<table-head columns="Pos,Movie,Points"></table-head>
	@foreach (var item in Model.Pubs)
	{
		<tr>
			<td>@item.Position</td>
			<td><pub-link id="@item.Id">@item.Title</pub-link></td>
			<td>@Math.Round(item.Points, 3)</td>
		</tr>
	}
</standard-table>
