@model PublicationsByPlatform
<standard-table>
	@foreach (var platformEntry in Model.PlatformPublicationList)
	{
		<tr>
			<td>@platformEntry.Platform</td>
			<td><a href="/Movies-@platformEntry.PlatformCode">All Publications (@platformEntry.Groupings.Where(c => c.IsClass).Sum(c => c.PublicationCount))</a></td>
			@foreach (var grouping in Model.AllGroupings)
			{
				var classEntry = platformEntry.Groupings.FirstOrDefault(c => c.Link == grouping);
				if (classEntry is not null)
				{
					<td><a href="/Movies-@platformEntry.PlatformCode-@classEntry.Link">@classEntry.Name (@classEntry.PublicationCount)</a></td>
				}
				else
				{
					<td></td>
				}
			}
		</tr>
	}
</standard-table>
