@model UnmirroredMovies

Total count: @Model.Entries.Count
<standard-table>
	<thead>
		<tr>
			<th>Movie</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var entry in Model.Entries)
		{
			<tr>
				<td><pub-link id="@entry.Id">@entry.Title</pub-link></td>
			</tr>
		}
	</tbody>
</standard-table>
