@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
	ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<row>
	<div class="col-md-4">
		<section>
			<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
				<h4>Use a TASVideos account to log in.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<form-group>
					<label asp-for="UserName"></label>
					<input asp-for="UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</form-group>
				<form-group>
					<label asp-for="Password"></label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</form-group>
				<form-group>
					<div class="checkbox">
						<label asp-for="RememberMe">
							<input asp-for="RememberMe" />
							@Html.DisplayNameFor(m => m.RememberMe)
						</label>
					</div>
				</form-group>
				<form-group>
					<button type="submit" class="btn btn-secondary">Log in</button>
				</form-group>
				<form-group>
					<p><a asp-action="ForgotPassword">Forgot your password?</a></p>
					<p><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a></p>
				</form-group>
			</form>
		</section>
	</div>
</row>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
