@model PrivateMessageCreateModel
@{
	ViewData["Title"] = "Create Private Message";
}

<p>TODO</p>

<form asp-action="Create">
	<label asp-for="Subject"></label>
	<input type="text" asp-for="Subject" />
	<label asp-for="Text"></label>
	<textarea asp-for="Text"></textarea>
</form>