@page
@section PageTitle {
}
@{
	bool canEdit = WikiHelper.UserCanEditWikiPage("System/FrontPage", User.Name(), User.Permissions());
}

<cache enabled="@(!User.IsLoggedIn())" expires-after="@TimeSpan.FromSeconds(Durations.FiveMinutesInSeconds)">
	@await Component.RenderWiki("System/FrontPage")
</cache>
<a condition="@canEdit"
   asp-page="/Wiki/Edit"
   asp-route-path="System/FrontPage"
   class="btn btn-primary btn-sm border border-warning">
	<i class="fa fa-pencil"></i> Edit
</a>