@page
@model DiffModel

@{
	string link = WikiHelper.ProcessLink(Model.Diff.PageName);
	ViewData["Title"] = $"{WikiHelper.ProcessLink(link)} - Diff r{Model.Diff.LeftRevision} - r{Model.Diff.RightRevision}";
}

<input type="hidden" asp-for="Diff.LeftMarkup" rows="8" class="form-control" />
<input type="hidden" asp-for="Diff.RightMarkup" rows="8" class="form-control" />

<a class="btn btn-secondary float-end mb-2" asp-page="/Wiki/PageHistory" asp-route-path="@Model.Diff.PageName"><i class="fa fa-history"></i> Full Page History</a>
<a class="btn btn-secondary float-end me-2" href="/@link"><span class="fa fa-arrow-left"></span> Back to Page</a>
<row>

	<label class="me-3"><input name="diff-type" type="radio" value="1" checked="checked" onclick="generateDiff()" /> Inline</label>
	<label><input name="diff-type" type="radio" value="0" onclick="generateDiff()" /> Side by Side</label>
	<label><input name="context-size" type="number" value="5" min="0" max="9999" oninput="generateDiff()" /> Context Size</label>
</row>
<hr />
<row>
	<div id="ResultMarkup"></div>
</row>

@section Scripts {
	<script src="~/js/diff_match_patch.js"></script>
	<script src="~/js/diff_view.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			generateDiff();
		});

		function onRadioChange() {
			generateDiff();
		}

		function generateDiff() {
			const viewType = parseInt(document.querySelector('[name="diff-type"]:checked').value);
			const contextSize = parseInt(document.querySelector('[name="context-size"').value);

			const leftMarkup = document.getElementById('@Html.IdFor(m => m.Diff.LeftMarkup)').value;
			const rightMarkup = document.getElementById('@Html.IdFor(m => m.Diff.RightMarkup)').value;
			const diffElem = document.getElementById('ResultMarkup');

			renderDiff(
				{ text: leftMarkup, name: "r@(Model.Diff.LeftRevision)" },
				{ text: rightMarkup, name: "r@(Model.Diff.RightRevision)" },
				diffElem,
				!!viewType,
				contextSize
			);
		}
	</script>
}
