@page
@model MoveModel
@{
	ViewData.SetTitle($"Moving: {Model.OriginalPageName}");
}
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
	<input type="hidden" asp-for="OriginalPageName" />
	<row>
		<div class="col-lg-6">
			<fieldset>
				<label class="form-control-label">Original Name</label>
				<label class="form-control">@Model.OriginalPageName</label>
			</fieldset>
			<fieldset>
				<label asp-for="DestinationPageName" class="form-control-label"></label>
				<input type="text" asp-for="DestinationPageName" class="form-control" />
				<span asp-validation-for="DestinationPageName" class="text-danger"></span>
			</fieldset>
			<form-button-bar>
				<submit-button><i class="fa fa-save"></i> Move</submit-button>
				<cancel-button href="/@Model.OriginalPageName"></cancel-button>
			</form-button-bar>
		</div>
	</row>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
