@page
@model ReferrersModel
@{
	string link = WikiHelper.ProcessLink(Model.Path ?? "");
	ViewData.SetTitle($"Referrers for {link}");
}

<back-link href="/@link">Back</back-link>
<br />
<br />
<label>Referrers (@Model.Referrals.Count Total)</label>

<div condition="Model.Referrals.Any()">
	<hr />
	@foreach (var referral in Model.Referrals)
	{
		<card>
			<cardheader>
				<a href="/@referral.Referrer">@referral.Referrer</a>
			</cardheader>
			<div class="card-block">
				<i>@referral.Excerpt</i>
			</div>
		</card>
	}
</div>