@page
@model ViewSourceModel
@{
	ViewData["Title"] = "View Page Source";
}
<div>
	<small>
		Revision @Model.Revision (current)<br />
		Last Updated by @(Model.WikiPage.CreateUserName ?? "Unknown") <timezone-convert asp-for="@Model.WikiPage.CreateTimestamp" in-line="true" /> 
	</small>
</div>
<div>
	<a href="/@Model.WikiPage.PageName" class="btn btn-secondary"><span class="fa fa-arrow-left"></span> Back to Page</a>
</div>
<hr />
<pre>@Model.WikiPage.Markup</pre>
