@page
@model EmailConfirmationSentModel
@{
	ViewData.SetTitle("Email Sent");
}

@await Html.RenderWiki(SystemWiki.EmailConfirmationSentMessage)
<form client-side-validation="true" method="post">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" autocomplete="username" />
				<span asp-validation-for="UserName"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" autocomplete="off" />
				<span asp-validation-for="Email"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<div style="align-items: center; display: flex; flex-flow: column nowrap;">
			<environment exclude="Development">
				<altcha-widget challengeurl="/Account/GenerateCaptchaChallenge"></altcha-widget>
			</environment>
			<submit-button>Resend Confirmation Email</submit-button>
		</div>
	</form-button-bar>
</form>
