@page
@addTagHelper *, AspNetCore.ReCaptcha
@model EmailConfirmationSentModel
@{
	ViewData.SetTitle("Email Sent");
}

@await Html.RenderWiki(SystemWiki.EmailConfirmationSentMessage)
<form client-side-validation="true" method="post">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" autocomplete="username" />
				<span asp-validation-for="UserName"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" autocomplete="off" />
				<span asp-validation-for="Email"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<environment exclude="Development">
			<recaptcha class-name="btn btn-primary" callback="onSubmit" text="Resend Confirmation Email"/>
		</environment>
		<environment include="Development">
			<submit-button>Resend Confirmation Email</submit-button>
		</environment>
	</form-button-bar>
</form>
