@page
@addTagHelper *, AspNetCore.ReCaptcha
@model EmailConfirmationSentModel
@{
	ViewData.SetTitle("Email Sent");
}

@await Component.RenderWiki("System/EmailConfirmationSentMessage")

<form method="post">
	<row>
		<column md="6">
			<form-group>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" class="form-control" autocomplete="username" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="off" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</form-group>
			<environment exclude="Development">
				<form-group>
					<recaptcha />
				</form-group>
			</environment>
		</column>
	</row>
	<div class="text-center">
		<button type="submit" class="btn btn-secondary">Resend Confirmation Email</button>
	</div>
</form>