@page
@addTagHelper *, AspNetCore.ReCaptcha
@model EmailConfirmationSentModel
@{
	ViewData.SetTitle("Email Sent");
}

@await Html.RenderWiki(SystemWiki.EmailConfirmationSentMessage)

<form method="post" id="email-confirmation-form">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" class="form-control" autocomplete="username" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="off" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</fieldset>
		</column>
	</row>
	<div class="text-center">
		<environment exclude="Development">
			<recaptcha class-name="btn btn-primary" callback="onSubmit" text="Resend Confirmation Email"/>
		</environment>
		<environment include="Development">
			<submit-button>Resend Confirmation Email</submit-button>
		</environment>
	</div>
</form>

@section Scripts {
	<script>
	function onSubmit() {
		document.getElementById("email-confirmation-form").submit();
	}
	</script>
}
