@page
@model EmailConfirmationSentModel
@{
	ViewData.SetTitle("Email Sent");
}

@await Html.RenderWiki(SystemWiki.EmailConfirmationSentMessage)
<form method="post" data-id="captcha-form">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" autocomplete="username" />
				<span asp-validation-for="UserName"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" autocomplete="off" />
				<span asp-validation-for="Email"></span>
			</fieldset>
		</column>
	</row>
	<div class="d-flex flex-column align-items-center">
		<environment exclude="notDevelopment">
			<altcha-widget challengeurl="/Account/GenerateCaptchaChallenge"></altcha-widget>
		</environment>
		<submit-button>Resend Confirmation Email</submit-button>
	</div>
</form>

@section Scripts {
	<script async defer src="https://cdn.jsdelivr.net/npm/altcha/dist/altcha.min.js" type="module"></script>
	@*
	<script src="/js/captcha-form.js"></script>
	*@
}
