@page
@model ForgotPasswordModel
@{
	ViewData.SetTitle("Forgot your password?");
}

<row>
	<column lg="4">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</fieldset>
			<submit-button class="btn btn-primary">Submit</submit-button>
		</form>
	</column>
</row>

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}
