@page
@model ForgotPasswordModel
@{
	ViewData.SetTitle("Forgot your password?");
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible" role="alert"></div>
<row>
	<column lg="4">
		<form method="post">
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</fieldset>
			<submit-button>Submit</submit-button>
		</form>
	</column>
</row>

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}
