@page
@model ForgotPasswordModel
@{
	ViewData.SetTitle("Forgot your password?");
}

<row>
	<column lg="4">
		<form client-side-validation="true" method="post">
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</fieldset>
			<submit-button>Submit</submit-button>
		</form>
	</column>
</row>
