@page
@model LoginModel
@{
	ViewData.SetTitle("Log in");
}
<row>
	<section class="col-lg-4">
		<form method="post">
			<h4>Use a TASVideos account to log in.</h4>
			<hr/>
			<fieldset>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" class="form-control" autocomplete="username"/>
				<span asp-validation-for="UserName" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" autocomplete="current-password"/>
				<span asp-validation-for="Password" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<div class="checkbox">
					<label asp-for="RememberMe">
						<input asp-for="RememberMe"/>
						@Html.DisplayNameFor(m => m.RememberMe)
					</label>
				</div>
			</fieldset>
			<fieldset>
				<submit-button>Log in</submit-button>
			</fieldset>
			<fieldset>
				Please view our <a href="/System/PrivacyPolicy">Privacy Policy</a>
			</fieldset>
			<fieldset>
				<p><a asp-page="ForgotPassword">Forgot your password?</a></p>
				<p><a asp-page="Register" asp-route-returnurl="@HttpContext.CurrentPathToReturnUrl()">Register as a new user?</a></p>
			</fieldset>
		</form>
	</section>
</row>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
