@page
@model RegisterModel
@{
	ViewData.SetTitle("Create a new account");
}

<form method="post" id="register-form">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" autocomplete="username" />
				<span asp-validation-for="UserName"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" autocomplete="off" />
				<span asp-validation-for="Email"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" autocomplete="new-password" maxlength="524288" />
				<span asp-validation-for="Password"></span>
			</fieldset>
			<fieldset>
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" maxlength="524288" />
				<span asp-validation-for="ConfirmPassword"></span>
			</fieldset>
		</column>
		<column md="6">
			<fieldset>
				<label asp-for="TimeZone"></label>
				<timezone-picker asp-for="TimeZone" />
				<span asp-validation-for="TimeZone"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Location"></label>
				<select asp-for="Location" asp-items="@RegisterModel.AvailableLocations"></select>
				<span asp-validation-for="Location"></span>
			</fieldset>
			<fieldset class="invisible">
				<label asp-for="HomePage"></label>
				<input asp-for="HomePage" />
			</fieldset>
			<fieldset class="mt-3">
				<div class="form-check">
					<label asp-for="Coppa" class="form-check-label">By checking this box, you certify you are 13 years of age or older</label>
					<input asp-for="Coppa" type="checkbox" class="form-check-input"/>
				</div>
				<span asp-validation-for="Coppa"></span>
			</fieldset>
			<fieldset>
				Also make sure you've read the <a href="/SiteRules">Site Rules</a>.<br/>
				Your data will be stored according to our <a href="/System/PrivacyPolicy">Privacy Policy</a>.
			</fieldset>
		</column>
	</row>
	<div style="align-items: center; display: flex; flex-flow: column nowrap;">
		<environment exclude="Development">
			<altcha-widget challengeurl="/Account/GenerateCaptchaChallenge"></altcha-widget>
		</environment>
		<submit-button>Register</submit-button>
	</div>
</form>

@section Scripts {
	<script async defer src="https://cdn.jsdelivr.net/npm/altcha/dist/altcha.min.js" type="module"></script>
	<script src="/js/account-register.js"></script>
}
