@page
@addTagHelper *, AspNetCore.ReCaptcha
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}


<h2>@ViewData["Title"]</h2>
<h4>Create a new account.</h4>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
	<row>
		<column md="6">
			<form-group>
				<label asp-for="UserName"></label>
				<input asp-for="UserName" class="form-control" autocomplete="username" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="off" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</form-group>
		</column>
		<column md="6">
			<form-group>
				<label asp-for="SelectedTimeZone"></label>
				<timezone-picker asp-for="SelectedTimeZone" class="form-control" />
			</form-group>
			<form-group>
				<label asp-for="From"></label>
				<input asp-for="From" type="text" class="form-control" />
				<span asp-validation-for="From" class="text-danger"></span>
			</form-group>
			<form-group class="mt-3">
				<div class="form-check">
					<label asp-for="Coppa" class="form-check-label"></label>
					<input asp-for="Coppa" type="checkbox" class="form-check-input"/>
				</div>
				<span asp-validation-for="Coppa" class="text-danger"></span>
			</form-group>
			<environment exclude="Development">
				<form-group>
					<recaptcha />
				</form-group>
			</environment>
		</column>
	</row>
	<div class="text-center">
		<button type="submit" class="btn btn-secondary">Register</button>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	@*For manual implementation of Google's ReCaptcha scripts, will require embedding site's public key.*@
	<script src="https://www.google.com/recaptcha/api.js"></script>
	<script>
		{
			const timezoneOffset = 0 - new Date().getTimezoneOffset();
			let timezone = document.querySelector(`[data-offset="${timezoneOffset}"]`);
			timezone.setAttribute('selected', 'selected');
		}
	</script>
}
