@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />
<row>
	<column lg="4">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Code" type="hidden" />
			<form-group>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</form-group>
			<button type="submit" class="btn btn-secondary">Reset</button>
		</form>
	</column>
</row>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
