@page
@model ResetPasswordModel
@{
	ViewData.SetTitle("Reset password");
}
<h4>Reset your password.</h4>
<hr />
<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible" role="alert"></div>
<row>
	<column lg="4">
		<form method="post">
			<input asp-for="Code" type="hidden" />
			<input id="UserName" name="UserName" class="d-none" value="@User.Name()" autocomplete="username" />
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="off" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</fieldset>
			<submit-button>Reset</submit-button>
		</form>
	</column>
</row>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
