@page
@model ResetPasswordModel
@{
	ViewData.SetTitle("Reset password");
	ViewData.SetHeading("Reset your password");
}

<row>
	<column lg="4">
		<form client-side-validation="true" method="post">
			<input asp-for="Code" type="hidden" />
			<input id="UserName" name="UserName" class="d-none" value="@User.Name()" autocomplete="username" />
			<fieldset>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="off" />
				<span asp-validation-for="Email"></span>
			</fieldset>
			<fieldset>
				<label asp-for="NewPassword"></label>
				<input asp-for="NewPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="NewPassword"></span>
			</fieldset>
			<fieldset>
				<label asp-for="ConfirmNewPassword"></label>
				<input asp-for="ConfirmNewPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="ConfirmNewPassword"></span>
			</fieldset>
			<submit-button>Reset</submit-button>
		</form>
	</column>
</row>
