@page
@model ResetPasswordModel
@{
	ViewData.SetTitle("Reset password");
	ViewData.SetHeading("Reset your password");
}

<row>
	<column lg="4">
		<form client-side-validation="true" method="post">
			<input asp-for="Code" type="hidden" />
			<fieldset>
				<label asp-for="UserName"></label>
				<input disable asp-for="UserName" />
			</fieldset>
			<fieldset>
				<label asp-for="Email"></label>
				<input disable asp-for="Email" />
			</fieldset>
			<fieldset>
				<label asp-for="NewPassword"></label>
				<input asp-for="NewPassword" autocomplete="new-password" class="form-control" />
				<span asp-validation-for="NewPassword"></span>
			</fieldset>
			<fieldset>
				<label asp-for="ConfirmNewPassword"></label>
				<input asp-for="ConfirmNewPassword" autocomplete="new-password" class="form-control" />
				<span asp-validation-for="ConfirmNewPassword"></span>
			</fieldset>
			<submit-button>Reset</submit-button>
		</form>
	</column>
</row>
