@model IEnumerable<WikiPageReferral>

<table class="table table-striped">
	<tbody>
		<tr>
			<th>Page</th>
			<th>Linked From</th>
			<th>Excerpt</th>
		</tr>
		@foreach (var link in Model)
		{
			<tr>
				<td><a href="/@link.Referral">@link.Referral</a></td>
				<td><a href="/@link.Referrer">@link.Referrer</a></td>
				<td><i>@link.Excerpt</i></td>
			</tr>
		}
	</tbody>
</table>