@model ICollection<AviEncodeResultModel>
<hr />
<label>Total: @Model.Count</label>
<div class="table-container">
	<table class="table table-striped table-sm hidden-lg-down">
		<tbody>
			<tr>
				<th>Movie</th>
				<th>File</th>
			</tr>
			@foreach (var pub in Model.OrderBy(p => p.Id))
			{
				<tr>
					<td>
						<pub-link id="pub.Id">@pub.Title</pub-link>
					</td>
					<td>
						@pub.FileName
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
