@page "{userName}"
@{ ViewData["Title"] = $"Publisher Activity for {Model.UserName}"; }
@model PublishersModel

<p>Movies published by <profile-link username="@Model.UserName"></profile-link></p>
<hr />
@foreach (var pub in Model.Publications.OrderByDescending(p => p.Id))
{
	<pub-link id="pub.Id">@pub.Title</pub-link><br />
}