@model WikiPage
<div class="alert alert-info">
	<row>
		<div class="col-md-4">
			@await Component.ListParents(Model)
		</div>
		<div class="col-sm-8 text-md-right">
			@await Component.RenderWiki("System/GameResourcesHeader")
		</div>
	</row>
	
</div>
