@model UserFileIndexViewModel
@{
	ViewData["Title"] = "Movie Storage Space";
}

<row>
	<div class="col-12 mt-2 mb-2">
		<a asp-controller="Profile" asp-action="UserFiles" class="pull-right btn btn-primary">My Movies</a>
	</div>
</row>

<card>
	<cardheader>
		Users with movies
	</cardheader>
	<cardbody>
		@foreach (var user in Model.UsersWithMovies)
		{
			<a asp-action="FilesUser" asp-route-id="@user.UserName">@user.UserName</a><span>(latest: @user.Latest)</span><br />
		}
	</cardbody>
</card>