@model GameEditModel
@{
	ViewData["Title"] = Model.Id.HasValue
		? $"Editing Game #{Model.Id} {Model.DisplayName}"
		: "Create a new Game entry";
}
<form-group>
	<delete-button condition="@Model.CanDelete" asp-href="@Url.Action("DeleteGame", new { id = Model.Id ?? 0 } )" class="float-right">Delete</delete-button>
</form-group>
<form asp-route="GameEdit">
	<input type="hidden" asp-for="Id" />
	<row>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="SystemCode"></label>
				<select asp-for="SystemCode" asp-items="@Model.AvailableSystems.OrderBy(s => s.Value)" class="form-control"></select>
				<span asp-validation-for="SystemCode" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="GoodName"></label>
				<input type="text" asp-for="GoodName" class="form-control" autocomplete="off" />
				<span asp-validation-for="GoodName" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="DisplayName"></label>
				<input type="text" asp-for="DisplayName" class="form-control" autocomplete="off" />
				<span asp-validation-for="DisplayName" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Abbreviation"></label>
				<input type="text" asp-for="Abbreviation" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="Abbreviation" class="text-danger"></span>
			</form-group>
		</div>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="SearchKey"></label>
				<input type="text" asp-for="SearchKey" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="SearchKey" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="YoutubeTags"></label>
				<input type="text" asp-for="YoutubeTags" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="YoutubeTags" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="ScreenshotUrl"></label>
				<input type="text" asp-for="ScreenshotUrl" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="ScreenshotUrl" class="text-danger"></span>
			</form-group>
		</div>
	</row>
	<div class="text-center">
		<button id="submit-btn" type="submit" class="btn btn-primary">Update</button>
		<a asp-action="GameList" class="btn btn-secondary">Cancel</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}