@model RomEditModel
@{
	ViewData["Title"] = Model.Id.HasValue
		? $"Editing Rom #{Model.Id} {Model.Name}"
		: "Create a new Rom entry";
}
<h4>System: @Model.SystemCode</h4>
<br />
<h4>Game: @Model.GameName</h4>
<form asp-route="GameEdit">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="GameId" />
	<input type="hidden" asp-for="GameName" />
	<input type="hidden" asp-for="SystemCode" />
	<row>
		<div class="col-md-6">
			<form-group>
				<label asp-for="Name"></label>
				<input type="text" asp-for="Name" class="form-control" autocomplete="off" />
				<span asp-validation-for="Name"></span>
			</form-group>
			<form-group>
				<label asp-for="Md5"></label>
				<input type="text" asp-for="Md5" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="Md5"></span>
			</form-group>
			<form-group>
				<label asp-for="Sha1"></label>
				<input type="text" asp-for="Sha1" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="Sha1"></span>
			</form-group>
		</div>
		<div class="col-md-6">
			<form-group>
				<label asp-for="RomType"></label>
				<select asp-for="RomType" asp-items="@Model.AvailableRomTypes.OrderBy(s => s.Value)" class="form-control"></select>
				<span asp-validation-for="SystemCode"></span>
			</form-group>
			<form-group>
				<label asp-for="Version"></label>
				<input type="text" asp-for="Version" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="Version"></span>
			</form-group>
			<form-group>
				<label asp-for="Region"></label>
				<input type="text" asp-for="Region" class="form-control" autocomplete="off" spellcheck="false" />
				<span asp-validation-for="Region"></span>
			</form-group>
		</div>
	</row>
	<div class="text-center">
		<button id="submit-btn" type="submit" class="btn btn-primary">Update</button>
		<a asp-action="RomList" asp-route-gameId="@Model.GameId" class="btn btn-default">Cancel</a>
	</div>
</form>