@page
@model ChangePasswordModel
@{
	ViewData["Title"] = "Change password";
	ViewData.AddActivePage(ProfileNavPages.ChangePassword);
}
<h4>@ViewData["Title"]</h4>
<row>
	<div class="col-md-6">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input id="UserName" name="UserName" class="d-none" value="@User.Name()" autocomplete="username" />
			<form-group>
				<label asp-for="OldPassword"></label>
				<input asp-for="OldPassword" class="form-control" autocomplete="current-password" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="NewPassword"></label>
				<input asp-for="NewPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</form-group>
			<button type="submit" class="btn btn-secondary">Update password</button>
		</form>
	</div>
</row>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
