@page
@model ChangePasswordModel
@{
	ViewData.SetTitle("Change password");
	ViewData.AddActivePage(ProfileNavPages.ChangePassword);
}
<row>
	<div class="col-md-6">
		<form client-side-validation="true" method="post">
			<input id="UserName" name="UserName" class="d-none" value="@User.Name()" autocomplete="username" />
			<fieldset>
				<label asp-for="CurrentPassword"></label>
				<input asp-for="CurrentPassword" class="form-control" autocomplete="current-password"  maxlength="524288" />
				<span asp-validation-for="CurrentPassword" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="NewPassword"></label>
				<input asp-for="NewPassword" class="form-control" autocomplete="new-password"  maxlength="524288" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="ConfirmNewPassword"></label>
				<input asp-for="ConfirmNewPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			</fieldset>
			<submit-button>Update password</submit-button>
		</form>
	</div>
</row>
