@page
@{
	ViewData["Title"] = "Email Change Request Sent";
}

<h4>Your verification Email has been sent</h4>
<p>To complete the email change process, look for an email in your inbox that will provide further instructions.</p>
