@page
@using TASVideos.Services
@inject IWikiPages WikiPages

@{
	ViewData["Title"] = "Home Page";
	ViewData.AddActivePage(ProfileNavPages.HomePage);
	var homePage = $"HomePages/{User.Identity.Name}";
	bool pageExists = await WikiPages.Exists(homePage);
}
<br />
@if (ViewData.UserHas(PermissionTo.EditHomePage))
{
	<div class="text-center">
		<a class="btn btn-primary" asp-page="/Wiki/Edit" asp-route-path="@homePage">Edit</a>
		<a class="btn btn-secondary" href="/@homePage">Full View</a>
	</div>
}
else
{
	<warning-alert>
		<label class="text-warning">Warning: You do not have permissions to edit your homepage</label>
		<label>By default all users have this permission. Your permission must have been revoked or is otherwise missing</label>
	</warning-alert>
}
<hr />
@if (pageExists)
{
	@await Component.RenderWiki(homePage)
}
else if (ViewData.UserHas(PermissionTo.EditHomePage))
{
	<info-alert>
		<h4>Page does not yet exist</h4>
		<label class="text-info">By default, all registered users can create and maintain a homepage if they choose.</label><br />
		<label>Click Edit to create/edit your homepage.</label>
	</info-alert>
}
