@page
@inject IWikiPages _wikiPages

@{
	ViewData["Title"] = "Home Page";
	ViewData.AddActivePage(ProfileNavPages.HomePage);
	var homePage = $"{LinkConstants.HomePages}{User.Name()}";
	bool pageExists = await _wikiPages.Exists(homePage);
}
<br />
@if (ViewData.UserHas(PermissionTo.EditHomePage))
{
	<div class="text-center">
		<a class="btn btn-secondary" href="/@homePage"><i class="fa fa-eye"></i> Full View</a>
		<a class="btn btn-primary" asp-page="/Wiki/Edit" asp-route-path="@homePage"><i class="fa fa-pencil"></i> Edit</a>
	</div>
}
else
{
	<warning-alert>
		@await Component.RenderWiki("System/HomePageCannotBeEdited")
	</warning-alert>
}
<hr />
@if (pageExists)
{
	@await Component.RenderWiki(homePage)
}
else if (ViewData.UserHas(PermissionTo.EditHomePage))
{
	<info-alert>
		@await Component.RenderWiki("System/HomePageDoesNotExist")
	</info-alert>
}
