@page
@model SetPasswordModel
@{
	ViewData.SetTitle("Set password");
	ViewData.AddActivePage(ProfileNavPages.ChangePassword);
}
<h4>Set your password</h4>
<p class="text-info">
	You do not have a local username/password for this site. Add a local
	account, so you can log in without an external login.
</p>
<row>
	<column lg="6">
		<form client-side-validation="true" method="post">
			<fieldset>
				<label asp-for="NewPassword"></label>
				<input asp-for="NewPassword" />
				<span asp-validation-for="NewPassword"></span>
			</fieldset>
			<fieldset>
				<label asp-for="ConfirmNewPassword"></label>
				<input asp-for="ConfirmNewPassword" />
				<span asp-validation-for="ConfirmNewPassword"></span>
			</fieldset>
			<submit-button>Set password</submit-button>
		</form>
	</column>
</row>
