@page
@model UserFilesModel

@{
	ViewData["Title"] = "My Files";
	ViewData.AddActivePage(ProfileNavPages.UserFiles);
}

<fullrow class="mt-2 mb-2">
	<div class="pull-right">
		<a asp-page="/UserFiles/Index" class="btn btn-secondary">All User Files</a>
	</div>
</fullrow>

@* ReSharper disable once UnusedVariable *@
@foreach (var file in Model.Files.OrderByDescending(f => f.UploadedTimestamp))
{
	<partial name="_UserFileInfo" model="file" />
}
