@page
@model UserFilesModel

@{
	ViewData["Title"] = "My Files";
	ViewData.AddActivePage(ProfileNavPages.UserFiles);
	var used = Model.Files.Sum(f => f.FileSizeCompressed);
}

<fullrow>
	<a asp-page="/UserFiles/Upload" class="btn btn-secondary"><i class="fa fa-upload"></i> Upload</a>
	<a asp-page="/UserFiles/Index" class="btn btn-secondary float-end">All User Files</a>
</fullrow>
<hr />
<partial name="_StorageUsed" model="used" />

@foreach (var file in Model.Files)
{
	<partial name="_UserFileInfo" model="file" />
}
