@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}
<h2>Your account profile</h2>
<hr />
<row>
	<div class="col-lg-3">
		<partial name="_ProfileNav" />
	</div>
	<div class="col-lg-9">
		@RenderBody()
	</div>
</row>
@section Scripts {
	@RenderSection("Scripts", required: false)
}
