@model UserFileUserIndexViewModel

@{
	ViewData["Title"] = @ViewContext.Controller() == "Profile"
		? " My Files"
		: "User Files for " + Model.UserName;

	ViewData.AddActivePage(ProfileNavPages.UserFiles);
}

<h2></h2>
<fullrow class="mt-2 mb-2">
	<div class="pull-right">
		<a asp-controller="UserFiles" asp-action="Index" class="btn btn-secondary">All User Files</a>
	</div>
</fullrow>

@foreach (var file in Model.Files.OrderByDescending(f => f.Uploaded))
{
	<partial name="_UserFileInfo" model="file" />
}
