@model UserFileUserIndexViewModel

@{
	ViewData["Title"] = "My Files";
	ViewData.AddActivePage(ProfileNavPages.UserFiles);
}

<fullrow class="mt-2 mb-2">
	<div class="pull-right">
		<a asp-controller="UserFiles" asp-action="Index" class="btn btn-secondary">All User Files</a>
	</div>
</fullrow>


@foreach (var file in Model.Files.OrderByDescending(f => f.Uploaded))
{
	<partial name="_UserFileInfo" model="file" />
}
