@model WikiDiffModel

@{
	string link  = WikiHelper.ProcessLink(Model.PageName);
	ViewData["Title"] = $"{WikiHelper.ProcessLink(link)} - Diff r{Model.LeftRevision} - r{Model.RightRevision}";
}

<input type="hidden" asp-for="LeftMarkup" rows="8" class="form-control" />
<input type="hidden" asp-for="RightMarkup" rows="8" class="form-control" />

<a class="btn btn-secondary pull-right" href="/@link">Back to Page</a>
<row>
	
	<label class="mr-3"><input name="diff-type" type="radio" value="1" checked="checked" /> Inline</label>
	<label><input name="diff-type" type="radio" value="0" /> Side by Side</label>
</row>
<hr />
<row>
	<div id="ResultMarkup"></div>
</row>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		generateDiff(1);
	});

	document.querySelectorAll('[name="diff-type"]')
		.toArray()
		.forEach(function (elem) {
			elem.addEventListener('click', onRadioChange);
		});

	function onRadioChange() {
		var type = document.querySelector('[name="diff-type"]:checked').value;
		generateDiff(parseInt(type));
	}

	function generateDiff(viewType) {
		var leftMarkup = document.getElementById('LeftMarkup').value;
		var rightMarkup = document.getElementById('RightMarkup').value;
		var diffElem = document.getElementById('ResultMarkup');

		var base = difflib.stringAsLines(leftMarkup);
		var newTxt = difflib.stringAsLines(rightMarkup);
		var opcodes = new difflib.SequenceMatcher(base, newTxt).get_opcodes();

		diffElem.innerHTML = "";

		diffElem.appendChild(diffview.buildView({
			baseTextLines: base,
			newTextLines: newTxt,
			opcodes: opcodes,
			baseTextName:  "r@(Model.LeftRevision)",
			newTextName: "r@(Model.RightRevision)",
			contextSize: null,
			viewType: viewType
		}));
	}
</script>

@section Scripts {
	<script src="~/js/difflib.js"></script>
	<script src="~/js/diffview.js"></script>
	<link rel="stylesheet" href="~/css/diffview.css"/>
}
