@{ bool canEdit = WikiHelper.UserCanEditWikiPage((string)ViewData["Title"], User.Identity.Name, (IEnumerable<PermissionTo>)ViewData["UserPermissions"]); }
<h2>This page does not yet exist.</h2>
<br />
Want to create it?
<br />
<ul>
	@if (!User.Identity.IsAuthenticated)
	{
		<li>If you are an editor or have rights to edit this page, <a asp-page="/Account/Login" asp-route-returnUrl="@Context.ReturnUrl()">log in</a> to edit the page.</li>
	}
	else if (!canEdit)
	{
		<li>You do not currently have permissions to create this page. If you are not an editor, become an <a asp-page="/Roles/Index" asp-route-role="Editor">editor!</a></li>
	}

	@if (User.Identity.IsAuthenticated && canEdit)
	{
		<li>Click here to <a asp-controller="Wiki" asp-action="Edit" asp-route-path="@ViewData["Title"]">edit this page</a></li>
		<li>Write the page content, and click Save to create the page.</li>
	}
</ul>
When creating new pages, always ensure that there is some other page that links to the newly created page. Otherwise your page will just become a <a href="/WikiOrphans">wiki orphan</a> that will be quickly forgotten.