@model IEnumerable<WikiPageReferral>
@{
	string link = WikiHelper.ProcessLink((string)ViewData["PageName"]);
	ViewData["Title"] = $"Referrers for {link}";
}

<a class="btn btn-secondary" href="/@link">Back to Page</a>
<br />
<br />
<label>Referrers (@Model.Count() Total)</label>
<hr />

<div>
	@foreach (var referral in Model)
	{
		<card>
			<cardheader>
				<a href="/@referral.Referrer">@referral.Referrer</a>
			</cardheader>
			<div class="card-block">
				<i>@referral.Excerpt</i>
			</div>
		</card>
	}
</div>