@model IEnumerable<WikiPageReferral>
@{
	ViewData["Title"] = $"Referrers for {ViewData["PageName"]}";
}

<a class="btn btn-default" href="/@ViewData["PageName"]">Back to Page</a>
<hr />
<label>These pages link to @ViewData["PageName"]</label>
<div>
	<ul>
		@foreach (var referral in Model)
		{
			<li>@referral.Referrer <br /> @referral.Excerpt</li>
		}
	</ul>
</div>