@model IEnumerable<WikiPageReferral>
@{
	ViewData["Title"] = $"Referrers for {ViewData["PageName"]}";
}

<a class="btn btn-secondary" href="/@ViewData["PageName"]">Back to Page</a>
<br />
<br />
<label>Referrers (@Model.Count() Total)</label>
<hr />

<div>
	@foreach (var referral in Model)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/@referral.Referrer">@referral.Referrer</a>
			</div>
			<div class="panel-body">
				<i>@referral.Excerpt</i>
			</div>
		</div>
	}
</div>