@page "/Systems/{systemId}/CreateFramerate"
@model CreateFramerateModel
@{
	ViewData.SetTitle($"Creating a Framerate for System: {Model.SystemCode}");
}

<form method="post">
	<input type="hidden" asp-for="SystemCode"/>
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="FrameRate"></label>
				<input asp-for="FrameRate" />
				<span asp-validation-for="FrameRate"></span>
			</fieldset>
			<fieldset>
				<label asp-for="RegionCode"></label>
				<input asp-for="RegionCode" />
				<span asp-validation-for="RegionCode"></span>
			</fieldset>
			<fieldset>
				<label>Indicates that the framerate is provisional for now and not intended to be an accurate value</label>
				<div class="form-check">
					<label asp-for="Preliminary" class="form-check-label"></label>
					<input asp-for="Preliminary" type="checkbox" class="form-check-input"/>
				</div>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button edit="false"></submit-button>
		<cancel-link asp-page="Edit" asp-route-id="@Model.SystemId"></cancel-link>
	</form-button-bar>
</form>