@page "/Publications/{publicationId}/Urls/Edit/{urlId?}/{handler?}"
@model EditUrlsModel
@{
	string saveBtnName;
	string iconClass;
	if (Model.UrlId.HasValue)
	{
		ViewData.SetTitle($"Editing URL #{Model.UrlId} for {Model.Title}");
		saveBtnName = "Save";
		iconClass = "fa fa-save";
	}
	else
	{
		ViewData.SetTitle("Add A New URL");
		saveBtnName = "Add";
		iconClass = "fa fa-plus";
	}
}

<form client-side-validation="true" method="post">
	<input type="hidden" asp-for="Title" />
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="UrlType"></label>
				<select asp-for="UrlType" asp-items="Model.AvailableTypes" class="form-select"></select>
				<span asp-validation-for="UrlType" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="CurrentUrl"></label>
				<input type="text" asp-for="CurrentUrl" class="form-control" />
				<span asp-validation-for="CurrentUrl" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="DisplayName"></label>
				<input type="text" asp-for="DisplayName" class="form-control" />
				<span asp-validation-for="DisplayName" class="text-danger"></span>
			</fieldset>
			<form-button-bar>
				<submit-button><span class="@iconClass"></span> @saveBtnName</submit-button>
				<cancel-link asp-page="List" asp-route-PublicationId="@Model.PublicationId"></cancel-link>
			</form-button-bar>
		</column>
	</row>
</form>
