@page "{handler?}"
@model PlayerPointsModel
@{
	ViewData["Title"] = "Player points";
}

<table class="table table-bordered table-striped">
	<tr>
		<th>User</th>
		<th>Points</th>
		<th>Rank</th>
	</tr>
	@foreach (var player in Model.Players.OrderByDescending(p => p.Points))
	{
		<tr>
			<td>
				<profile-link username="@player.UserName"></profile-link>
			</td>
			<td>
				@Math.Round(player.Points)
			</td>
			<td>
				@player.Rank
			</td>
		</tr>
	}
</table>