@page
@model SendTweetModel
@{
	ViewData["Title"] = "Send a tweet";
}
<ul>
	<li><a asp-page="Index">Diagnostics</a></li>
</ul>
<form method="post">
	<label asp-for="Text"></label>
	<textarea asp-for="Text" rows="10" class="form-control" maxlength="280"></textarea>
	<form-button-bar>
		<submit-button class="btn btn-primary">Submit</submit-button>
	</form-button-bar>
</form>
