@page
@model SystemPagesModel
@{
	ViewData.SetTitle("System Wiki Pages Used By the Site Code");
}

<top-button-bar>
	<label class="heading">Total: @Model.SystemPages.Count</label>
	<back-link class="btn-sm" asp-page="Index"></back-link>
</top-button-bar>

<standard-table>
	<table-head columns="Page Name,Exists"></table-head>
	<tbody>
		@foreach (var p in Model.SystemPages.OrderBy(p => p.Exists).ThenBy(p => p.Name))
		{
			<tr>
				<td>
					<wiki-link page-name="@p.Name"></wiki-link>
				</td>
				<td>
					<i condition="p.Exists" class="text-success fa fa-check"></i>
					<i condition="!p.Exists" class="text-danger fa fa-exclamation"></i>
				</td>
			</tr>
		}
	</tbody>
</standard-table>
