@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

<p condition="Model.ShowRequestId">
	<strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
