@model IEnumerable<RejectedSubmission>

<table class="table table-striped">
	<tr>
		<th>Submission</th>
		<th>Reason</th>
	</tr>
	@foreach (var sub in Model)
	{
		<tr>
			<td><sub-link id="sub.Id">@sub.Title</sub-link></td>
			<td>@sub.Reason</td>
		</tr>
	}
</table>