@model PublicationEditModel
@{
	ViewData["Title"] = $"Edit Movie #{Model.Id}";
}
@section PageTitle {
	<h1>@Model.Title</h1>
}

<form asp-action="Edit">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="SystemCode" />
	<row>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="Branch"></label>
				<input type="text" class="form-control" asp-for="Branch" />
				<span asp-validation-for="Branch" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="ObsoletedBy"></label>
				<select asp-for="ObsoletedBy" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableMoviesForObsoletedBy)" class="form-control"></select>
				<span asp-validation-for="ObsoletedBy" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="EmulatorVersion"></label>
				<input type="text" class="form-control" asp-for="EmulatorVersion" />
				<span asp-validation-for="EmulatorVersion" class="text-danger"></span>
			</form-group>
		</div>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="OnlineWatchingUrl"></label>
				<input type="text" class="form-control" asp-for="OnlineWatchingUrl" />
				<span asp-validation-for="OnlineWatchingUrl" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="MirrorSiteUrl"></label>
				<input type="text" class="form-control" asp-for="MirrorSiteUrl" />
				<span asp-validation-for="MirrorSiteUrl" class="text-danger"></span>
			</form-group>
		</div>
	</row>
		<two-column-select id-list="SelectedFlags" available-list="AvailableFlags" />
	<div class="text-center mt-3">
		<button type="submit" class="btn btn-primary">Update</button>
		<a href="/@(Model.Id)M" class="btn btn-secondary">Cancel</a>
	</div>
</form>
