@page
@model TASVideos.Pages.Exhibitions.IndexModel
@{
}
<span>Nothing is here yet. Maybe this should be the list? Anyway go to /Exhibitions/List for the list and /Exhibitions/Create for creating new ones. Sorry that they're not clickable.</span>