@model  IEnumerable<Role>
@{
	ViewData["Title"] = "Home";
}

<div class="container">
	<h2>Users</h2>
	@foreach (var user in (List<User>)ViewData["Users"])
	{
		<p>UserName: @user.UserName</p>
	}
	<h2>Roles</h2>
	<div>
		@foreach (var role in Model)
		{
			<p>Role: @role.Name</p>
			<ul>
				@foreach (var permission in role.RolePermission)
				{
					<p>Permission: @permission.PermissionId.ToString()</p>
				}
			</ul>
		}
	</div>
</div>

