@model IEnumerable<PermissionTo>
@{
	ViewData["Title"] = "Home";
}

<h2>Your current permissions:</h2>
@foreach (var permission in Model)
{
	<p>@permission.ToString()</p>
}


@if (Html.WikiCondition("UserIsLoggedIn"))
{
	<label>Hello logged in user</label><br /><br />
}

@if (Html.WikiCondition("!UserIsLoggedIn"))
{
	<label>you seem to not be logged in, perhaps you should do so</label><br /><br />
}

@if (Html.WikiCondition("CanEditPages"))
{
	<label>congrats you can edit pages</label><br /><br />
}

@if (Html.WikiCondition("!CanEditPages"))
{
	<label>you can not edit pages</label><br /><br />
}


<hr />
<br />
<br />
<label>Quick and dirty tab example</label>
<ul class="nav nav-tabs">
	<li class="active">
		<a href="#foo" data-toggle="tab">Foo</a>
	</li>
	<li>
		<a href="#bar" data-toggle="tab">Bar</a>
	</li>
	<li>
		<a href="#baz" data-toggle="tab">Baz</a>
	</li>
</ul>
<div class="tab-content">
	<div id="foo" class="tab-pane active">
		<label>All the things about Foos</label>
		<br /><label>1</label>
	</div>
	<div id="bar" class="tab-pane">
		<label>All the things about Bars</label>
		<br /><label>2</label>
	</div>
	<div id="baz" class="tab-pane">
		<label>All the things about Bazzesezz</label>
		<br /><label>3</label>
	</div>
</div>
