@{
	ViewData["Title"] = "Wiki Test";
}
<style>
	textarea {
		width: 40%;
		height: 600px;
	}
</style>

Input:
<textarea id=input></textarea>
Output:
<textarea id=output></textarea>
<button id=button>Convert!</button>

<script>
button.addEventListener("click", async () => {
	const response = await fetch("/Home/WikiTestAjax", {
		method: "POST",
		body: input.value
	});
	const data = await response.text();
	output.value = data;
});
</script>
