@page "{id}/{handler?}/{publicationFileId?}"
@model AdditionalMoviesModel
@{
	ViewData["Title"] = $"Additional Movie Files For {Model.PublicationTitle}";
}

<h4>Additional Movie Files:</h4>
<label condition="!Model.AvailableMovieFiles.Any()"><i>No additional movie files</i></label>
<row condition="Model.AvailableMovieFiles.Any()">
	<div class="col-lg-4 col-sm-6">
		<table class="table table-bordered">
			<tr>
				<td>Filename</td>
				<td>Display Name</td>
				<td></td>
			</tr>
			@foreach (var file in Model.AvailableMovieFiles)
			{
				<tr>
					<td>@file.FileName</td>
					<td>@file.Description</td>
					<td>
						<delete-button warning-message="Are you sure you want to remove this movie file?"
									   asp-href="/Publications/AdditionalMovies/@Model.Id/Delete/@file.Id">
							<span class="fa fa-times"></span> Delete
						</delete-button>
					</td>
				</tr>
			}
		</table>
		
	</div>
</row>
<hr />
<h4>Add a movie file</h4>
<hr />
<form method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="PublicationTitle" />
	<row>
		<column lg="6">
			<form-group>
				<label asp-for="DisplayName"></label>
				<input type="text" asp-for="DisplayName" maxlength="50" class="form-control" />
				<span asp-validation-for="DisplayName" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="AdditionalMovieFile"></label>
				<input asp-for="AdditionalMovieFile" class="form-control"/>
				<div>@Html.DescriptionFor(m => m.AdditionalMovieFile)</div>
				<span asp-validation-for="AdditionalMovieFile" class="text-danger"></span>
			</form-group>
			<div class="text-center mt-3">
				<submit-button class="btn btn-primary"><span class="fa fa-plus"></span> Add</submit-button>
				<a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-secondary"><span class="fa fa-arrow-left"></span> Back To Edit</a>
			</div>
		</column>
	</row>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
