@page "{id}"
@model EditClassModel
@{
	ViewData["Title"] = $"Edit PublicationClass for {Model.Publication.Title}";
}

<form method="post">
	<input type="hidden" asp-for="Title" />
	<row>
		<div class="col-lg-4 col-sm-6">
			<form-group>
				<label asp-for="Publication.ClassId"></label>
				<select class="form-control" asp-for="Publication.ClassId" asp-items="@Model.AvailableClasses"></select>
				<span asp-validation-for="Publication.ClassId" class="text-danger"></span>
			</form-group>
		</div>
	</row>
	<div class="text-center mt-3">
		<submit-button class="btn btn-primary"><span class="fa fa-save"></span> Update</submit-button>
		<a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-secondary"><span class="fa fa-arrow-left"></span> Back To Edit</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
