@page "{id}"
@model EditClassModel
@{
	ViewData.SetTitle($"Edit PublicationClass for {Model.Publication.Title}");
}

<form method="post">
	<input type="hidden" asp-for="Title" />
	<row>
		<div class="col-lg-4 col-sm-6">
			<fieldset>
				<label asp-for="Publication.ClassId"></label>
				<select class="form-select" asp-for="Publication.ClassId" asp-items="@Model.AvailableClasses"></select>
				<span asp-validation-for="Publication.ClassId" class="text-danger"></span>
			</fieldset>
		</div>
	</row>
	<form-button-bar>
		<submit-button></submit-button>
		<cancel-link asp-page="Edit" asp-route-id="@Model.Id"></cancel-link>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
