@page "{id}"
@model EditFileModel
@{
	ViewData["Title"] = $"Edit Files for {Model.Title}";
}

<form method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Title" />
	<row>
		<column md="6">
			<card>
				<cardheader>
					Screenshot: @Model.Files.ExistingScreenshotName
				</cardheader>
				<cardbody>
					<label>Description</label>
					<input asp-for="Files.ScreenshotDescription" type="text" maxlength="250" class="form-control" />
					<br />
					<form-group>
						<label>
							<input type="checkbox" asp-for="Files.UseNewScreenshot" />Replace with:
						</label><br />
						<input type="file" asp-for="Files.NewScreenshot" class="form-control" />
					</form-group>
				</cardbody>
			</card>
		</column>
	</row>
	<hr/>
	<div class="text-center mt-3">
		<button type="submit" class="btn btn-primary">Update</button>
		<a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Back To Edit</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
