@page "{id}"
@model HistoryModel
@{
	ViewData["Title"] = $"History of Movie #{Model.Id}";
}
@section PageTitle {
	<h1>@ViewData["Title"]</h1>
}

<h4>@Model.Title</h4>
<p><strong>Current publications:</strong></p>
@foreach (var node in Model.History.Branches)
{
	<p><pub-link id="@node.Id">@node.Branch</pub-link></p>
}
