@page
@model IndexModel
@{
	ViewData["Title"] = $"Tool-assisted movies ({Model.Movies.Count()})";
}

<a asp-page="Filter" class="btn btn-primary mb-2">Filter</a>

@foreach (var movie in Model.Movies)
{
	<partial name="_MovieModule" model="movie" />
	<br />
}
<div class="text-muted">
    @await Component.RenderWiki("System/MovieLinkInstruction")
</div>