@page
@model IndexModel
@{
	ViewData.SetTitle($"Tool-assisted movies ({Model.Movies.RowCount})");
}

<a asp-page="Filter" asp-route-query="@Model.Query" class="btn btn-primary mb-2">Filter</a>
<partial name="_Pager" model="Model.Movies" />
@foreach (var movie in Model.Movies)
{
	<partial name="_MovieModule" model="movie" />
	<br />
}
<partial name="_Pager" model="Model.Movies" />
<div class="text-body-tertiary">
	@await Html.RenderWiki(SystemWiki.MovieLinkInstruction)
</div>