@page "{id}"
@model ViewModel
@{
	ViewData.IgnorePageTitle();
	ViewData.SetTitle($"{Model.Publication.Title} - Movie #{Model.Id}");
	ViewData.SetMetaTags(new MetaTag
	{
		License = "https://creativecommons.org/licenses/by/2.0/", // TODO also set this for wiki pages incl. game resources, as the editor page for those claims they're also CC BY 2.0
		Title = Model.Publication.Title,
		Description = $"Publication [{Model.Id}] from {Model.Publication.CreateTimestamp.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)}",
		Image = $"{HttpContext.Request.ToBaseUrl()}/media/{Model.Publication.Screenshot.Path}",
		UseTwitterCard = true
	});
}

<partial name="_MovieModule" model="Model.Publication" />
<div class="text-body-tertiary">
	@await Html.RenderWiki(SystemWiki.MovieLinkInstruction)
</div>
<hr />
<a asp-page="/Wiki/PageHistory"
   asp-route-path="@(LinkConstants.PublicationWikiPage + Model.Id)"
   class="btn btn-info btn-sm">
   <span class="fa fa-history"></span> Page History
</a>
<a asp-page="/Wiki/PageHistory"
   asp-route-path="@(LinkConstants.PublicationWikiPage + Model.Id)"
   asp-route-latest="true"
   class="btn btn-info btn-sm">
   Latest diff
</a>
<a asp-page="/Wiki/Referrers"
   asp-route-path="@(Model.Id + "M")"
   class="btn btn-info btn-sm">
   List referrers
</a>
