@page "{id}"
@model ViewModel
@{
	ViewData.SetTitle($"{Model.Publication.Title} - Movie #{Model.Id}");
	ViewData.SetMetaTags(new MetaTagModel
	{
		Title = Model.Publication.Title,
		Description = $"Publication [{Model.Id}] from {Model.Publication.CreateTimestamp.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)}",
		Image = $"{HttpContext.Request.ToBaseUrl()}/media/{Model.Publication.Screenshot.Path}",
		UseTwitterCard = true
	});
}

@section PageTitle { }

<partial name="_MovieModule" model="Model.Publication" />
<hr />
<div class="text-muted">
	@await Component.RenderWiki("System/MovieLinkInstruction")
</div>
<br />
<a asp-page="/Wiki/PageHistory"
   asp-route-path="@(LinkConstants.PublicationWikiPage + Model.Id)"
   class="btn btn-info btn-sm">
	<span class="fa fa-history"></span> Page History
</a>
<a
	asp-page="/Wiki/PageHistory"
	asp-route-path="@(LinkConstants.PublicationWikiPage + Model.Id)"
	asp-route-latest="true"
	class="btn btn-info btn-sm">
	Latest diff
</a>
