@page "{topicId}"
@model AddEditPollModel
@{
	var mode = Model.PollId.HasValue ? "Edit" : "Add";
	ViewData["Title"] = $"{mode}ing Poll for Topic {Model.TopicTitle}";
}

<partial Name="_ForumHeader" />

<form method="post">
	<partial name="_PollCreate" model="Model.Poll" />
	<div class="text-center">
		<button type="submit" class="btn btn-primary">@mode</button>
		<a asp-page="Index" asp-route-id="@Model.TopicId" class="btn btn-secondary">Cancel</a>
	</div>
</form>