@page "{topicId}"
@model AddEditPollModel
@{
	var mode = Model.PollId.HasValue ? "Edit" : "Add";
	ViewData.SetTitle($"{mode}ing Poll for Topic {Model.TopicTitle}");
}

<partial Name="_ForumHeader" />

<form client-side-validation="true" method="post">
	<partial name="_PollCreate" model="Model.Poll" />
	<form-button-bar>
		<submit-button><i class="fa fa-save"></i> @mode</submit-button>
		<cancel-link asp-page="Index" asp-route-id="@Model.TopicId"></cancel-link>
	</form-button-bar>
</form>
