@page "{topicId}"
@model AddEditPollModel
@{
	var mode = Model.PollId.HasValue ? "Edit" : "Add";
	ViewData.SetTitle($"{mode}ing Poll for Topic {Model.TopicTitle}");
}

<partial Name="_ForumHeader" />

<form method="post">
	<partial name="_PollCreate" model="Model.Poll" />
	<form-button-bar>
		<submit-button class="btn btn-primary"><i class="fa fa-save"></i> @mode</submit-button>
		<cancel-button asp-page="Index" asp-route-id="@Model.TopicId"></cancel-button>
	</form-button-bar>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}