@page "{id}"
@model IndexModel
@{
	ViewData["Title"] = $"TASVideos Forum {Model.Topic.Title}";
}
<partial Name="_ForumHeader" />
<fullrow>
	<partial name="_TopicActionBar" model="Model.Topic" />
	<partial name="_TopicCrumbs" model="Model.Topic" />
	<a condition="ViewData.UserHas(PermissionTo.PostInLockedTopics) || (!Model.Topic.IsLocked && ViewData.UserHas(PermissionTo.CreateForumPosts))"
		asp-page="Forum/Posts/Create"
		asp-route-topicId="@Model.Id"
		class="btn btn-primary btn-sm pull-right">
		<span class="fa fa-plus"></span> Post
	</a>
</fullrow>

@if (Model.Topic.Poll != null)
{
	<hr />
	<partial name="_Poll" model="Model.Topic.Poll" />
}

<hr class="mt-1" />
<fullrow>
	<partial name="_Pager" model="Model.Topic.Posts" />
</fullrow>

@* ReSharper disable once UnusedVariable *@
@foreach (var post in Model.Topic.Posts.OrderBy(p => p.CreateTimestamp).ToList())
{
	<partial name="_TopicPost" model="post" />
}
<fullrow class="mt-2">
	<partial name="_Pager" model="Model.Topic.Posts" />
</fullrow>
