@page "{id}"
@model MergeModel
@{
//ViewData["Title"] = $"Merging Topic: {Model.Topic.MergeTopicModel}";
}
<partial Name="_ForumHeader" />
<p>Todo</p>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
