@model WikiPage
@{
	var user = Model.PageName.Split("/").Skip(1).FirstOrDefault();
}
<info-alert>
	<h5 class="mb-0">This is a <a href="/HomePages">Homepage</a></h5>
	<h5>for <profile-link username="@user">@user</profile-link></h5>
	<small class="text-info">By default, all registered users can create and maintain a homepage if they choose.</small>
</info-alert>