@model TASVideos.Core.Services.PublicationHistoryNode
@{
	var highlight = Model.Id == (int?)ViewData["Highlight"] ? ViewData["HighlightClass"] : "";
}
<pub-link class="@highlight" id="@Model.Id">@Model.Title</pub-link>
@if (Model.Obsoletes.Any())
{
	<ul style="text-decoration: line-through">
		@foreach (var node in Model.Obsoletes)
		{
			<li>
				<partial name="_HistoryEntry" model="node" />
			</li>
		}
	</ul>
}