@model IEnumerable<string>
@{
	var pageId = ViewData.UniqueId();

	var parent = Model.FirstOrDefault()?.Split('/').First();
	var pageGrouping = Model.GroupBy(tkey => tkey.Split('/').Skip(1).FirstOrDefault());
}

<div condition="@Model.Any()" class="card">
	<div class="card-header">
		<collapsablecontent-header body-id="collapse-content-@pageId">
			<strong>Subpages for @ViewData["Parent"]</strong>
		</collapsablecontent-header>
	</div>
	<collapsablecontent-body class="card-body" id="collapse-content-@pageId">
		<ul>
			@foreach (var pageGroup in pageGrouping.OrderBy(g => g.Key))
			{
				<li>
					<a href="/@pageGroup.Key">@pageGroup.Key.Replace($"{parent}/", "")</a>
					<ul condition="pageGroup.Count() > 1">
						@foreach (var subpage in pageGroup.Where(pg => pg != $"{parent}/{pageGroup.Key}").OrderBy(pg => pg))
						{
							<li><a href="/@subpage">@subpage.Replace($"HomePages/{pageGroup.Key}/", "")</a></li>
						}
					</ul>
				</li>
			}
		</ul>
	</collapsablecontent-body>
</div>