@model PublicationHistoryGroup
@{
	ViewData["Highlight"] = null; // TODO
	ViewData["HighlightClass"] = "fw-bold fst-italic border border-info p-1";
}
@section PageTitle {
	<div class="container mb-2">
		<h1 class="card card-header d-block">@ViewData["Title"]</h1>
	</div>
}

<partial name="_PublicationHistory" model="Model" />