@model string
<div class="btn-group mt-1 mb-1">
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-bold"><strong>b</strong></button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-italics"><i>i</i></button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-strike"><s>s</s></button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-sub"><sub>sub</sub></button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-sup"><sup>sup</sup></button>
</div>

<div class="btn-group mt-1 mb-1">
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-quote">quote</button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-url">url</button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-img">img</button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-code">code</button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-noparse">noparse</button>
	<button type="button" class="btn btn-info btn-sm" tabindex="-1" id="helper-spoiler">spoiler</button>
</div>

<div class="btn-group mt-1 mb-1">
	<button type="button" class="btn btn-secondary btn-sm" tabindex="-1" id="helper-tt">tt</button>
	<button type="button" class="btn btn-secondary btn-sm" tabindex="-1" id="helper-list">list</button>
	<button type="button" class="btn btn-secondary btn-sm" tabindex="-1" id="helper-olist">list=</button>
</div>

<div class="btn-group mt-1 mb-1">
	<button type="button" class="btn btn-secondary btn-sm" tabindex="-1" id="helper-left">left</button>
	<button type="button" class="btn btn-secondary btn-sm" tabindex="-1" id="helper-right">right</button>
	<button type="button" class="btn btn-secondary btn-sm" tabindex="-1" id="helper-center">center</button>
</div>

<div class="btn-group mt-1 mb-1">
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-frames">frames</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-video">video</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-google">google</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-thread">thread</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-post">post</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-movie">movie</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-submission">submission</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-wiki">wiki</button>
	<button type="button" class="btn btn-success btn-sm" tabindex="-1" id="helper-userfile">userfile</button>
</div>
<script>
	(function () {
		function textArea() {
			return document.getElementById('@Model');
		}

		document.getElementById('helper-bold').onclick = function () { textArea().value += '[b][/b]'; }
		document.getElementById('helper-italics').onclick = function () { textArea().value += '[i][/i]'; }
		document.getElementById('helper-strike').onclick = function () { textArea().value += '[s][/s]'; }
		document.getElementById('helper-sub').onclick = function () { textArea().value += '[sub][/sub]'; }
		document.getElementById('helper-sup').onclick = function () { textArea().value += '[sup][/sup]'; }

		document.getElementById('helper-quote').onclick = function () { textArea().value += '[quote][/quote]'; }
		document.getElementById('helper-url').onclick = function () { textArea().value += '[url][/url]'; }
		document.getElementById('helper-img').onclick = function () { textArea().value += '[img][/img]'; }
		document.getElementById('helper-code').onclick = function () { textArea().value += '[code][/code]'; }
		document.getElementById('helper-code').onclick = function () { textArea().value += '[code][/code]'; }
		document.getElementById('helper-noparse').onclick = function () { textArea().value += '[noparse][/noparse]'; }
		document.getElementById('helper-spoiler').onclick = function () { textArea().value += '[spoiler][/spoiler]'; }

		document.getElementById('helper-tt').onclick = function () { textArea().value += '[tt][/tt]'; }
		document.getElementById('helper-list').onclick = function () { textArea().value += '[list][/list]'; }
		document.getElementById('helper-olist').onclick = function () { textArea().value += '[list=][/list]'; }

		document.getElementById('helper-left').onclick = function () { textArea().value += '[left][/left]'; }
		document.getElementById('helper-right').onclick = function () { textArea().value += '[right][/right]'; }
		document.getElementById('helper-center').onclick = function () { textArea().value += '[center][/center]'; }

		document.getElementById('helper-frames').onclick = function () { textArea().value += '[frames][/frames]'; }
		document.getElementById('helper-video').onclick = function () { textArea().value += '[video][/video]'; }
		document.getElementById('helper-google').onclick = function () { textArea().value += '[google][/google]'; }
		document.getElementById('helper-thread').onclick = function () { textArea().value += '[thread][/thread]'; }
		document.getElementById('helper-post').onclick = function () { textArea().value += '[post][/post]'; }
		document.getElementById('helper-movie').onclick = function () { textArea().value += '[movie][/movie]'; }
		document.getElementById('helper-submission').onclick = function () { textArea().value += '[submission][/submission]'; }
		document.getElementById('helper-wiki').onclick = function () { textArea().value += '[wiki][/wiki]'; }
		document.getElementById('helper-userfile').onclick = function () { textArea().value += '[userfile][/userfile]'; }
	})();
</script>