@model WikiPage
@{
	bool canEdit = WikiHelper.UserCanEditWikiPage(Model.PageName, User.Identity.Name, (IEnumerable<PermissionTo>)ViewData["UserPermissions"]);
}

<!-- Eventually we will show available translations here-->
@if (canEdit)
{
	<div class="text-right">
		<a class="btn btn-primary" asp-controller="Wiki" asp-action="Edit" asp-route-path="@Model.PageName">Edit</a>
	</div>
	<hr />
}

@if (Model.IsSystemPage())
{
	@await Component.SystemPageHeader(Model)
}
else if (Model.IsGameResourcesPage())
{
	@await Component.HomePageHeader(Model)
}
else if (Model.IsHomePage())
{
	@await Component.GameResourcesHeader(Model)
}
else
{
	@await Component.ListParents(Model)
}
