@model ForumPostCreateModel
@{
	ViewData["Title"] = $"Posting to Topic: {Model.TopicTitle}";
}
<partial Name="_ForumHeader" />
<h4>Posting to Topic: <a asp-action="Topic" asp-route-id="@Model.TopicId">@Model.TopicTitle</a></h4>

<form asp-action="CreatePost" form-method="POST">
	<input type="hidden" asp-for="TopicId" />
	<form-group class="col-lg-6">
		<row>
			<label asp-for="Subject" class="form-control-label"></label>
			<input type="text" asp-for="Subject" class="form-control" autocomplete="off"/>
			<span asp-validation-for="Subject" class="text-danger"></span>
		</row>
	</form-group>
	<form-group>
		<partial name="_CreatePostHelper.cshtml" model="nameof(Model.Post)" />
	</form-group>
	<form-group>
		<textarea asp-for="Post" class="form-control" rows="20"></textarea>
		<span asp-validation-for="Post" class="text-danger"></span>
	</form-group>
	<div class="text-center">
		<button type="button" class="btn btn-secondary" id="preview-button">Preview</button>
		<button type="submit" class="btn btn-primary">Save</button>
		<a asp-action="Topic" asp-route-id="@Model.TopicId" class="btn btn-secondary">Cancel</a>
	</div>
</form>

<div class="d-none" id="preview-container">
	<hr />
	<label>Preview:</label>
	<div id="preview-contents" class="mt-3" style="border: solid; padding: 5px; border-radius: 5px"></div>
</div>

<script>
	(function () {
		document.getElementById('preview-button').onclick = function () {
			var markup = document.getElementById('@nameof(Model.Post)').value;
			document.getElementById('preview-container').classList.remove('d-none');
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState === XMLHttpRequest.DONE) {
					if (xmlhttp.status === 200) {
						document.getElementById('preview-contents').innerHTML = xmlhttp.responseText;
					} else {
						alert("Could not generate preview");
					}
				}
			};

			xmlhttp.open("POST", "/Forum/@(nameof(ForumController.GeneratePreview))");
			xmlhttp.send(markup);
		}
	})();
</script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
