@model TopicCreateModel
@{
	ViewData["Title"] = $"Creating topic for: {Model.ForumName}";
}
<partial Name="_ForumHeader" />
<h4>Cerating topic for: <a asp-action="Subforum" asp-route-id="@Model.ForumId">@Model.ForumName</a></h4>

<form asp-action="CreateTopic" form-method="POST">
	<input type="hidden" asp-for="ForumId" />
	<form-group class="col-lg-6">
		<row>
			<label asp-for="Title" class="form-control-label"></label>
			<input type="text" asp-for="Title" class="form-control" autocomplete="off" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</row>
	</form-group>
	<form-group>
		<partial name="_CreatePostHelper.cshtml" model="nameof(Model.Post)" />
	</form-group>
	<form-group>
		<textarea asp-for="Post" class="form-control" rows="20"></textarea>
		<span asp-validation-for="Post" class="text-danger"></span>
	</form-group>
	<div class="text-center">
		<button type="button" class="btn btn-secondary" id="preview-button">Preview</button>
		<button type="submit" class="btn btn-primary">Save</button>
		<a asp-controller="Forum" asp-action="Subforum" asp-route-id="@Model.ForumId" class="btn btn-secondary">Cancel</a>
	</div>
</form>

<partial name="_PreviewWindow" model="@((nameof(Model.Post), $"/Forum/{nameof(ForumController.GeneratePreview)}"))" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
