@model ForumIndexModel
@{
	ViewData["Title"] = "TASVideos Forums";
}
<row>
	<div class="col-md-6">
		@foreach (var cat in Model.Categories.OrderBy(c => c.Ordinal).FirstHalf())
		{
			@await Html.PartialAsync("_Category", cat)
		}
	</div>
	<div class="col-md-6">
		@foreach (var cat in Model.Categories.OrderBy(c => c.Ordinal).SecondHalf())
		{
			@await Html.PartialAsync("_Category", cat)
		}
	</div>
</row>
