@model IEnumerable<WikiPageReferral>

<label class="float-right">Total: @Model.Count()</label>
<table class="table table-striped">
	<tbody>
		<tr>
			<th>Page</th>
			<th>Linked From</th>
			<th>Excerpt</th>
		</tr>
		@foreach (var link in Model)
		{
			<tr>
				<td style="max-width: 400px; overflow-x: auto"><a href="/@WikiHelper.ProcessLink(link.Referral)">@Html.Encode(WikiHelper.ProcessLink(link.Referral))</a></td>
				<td><a href="/@WikiHelper.ProcessLink(link.Referrer)">@WikiHelper.ProcessLink(link.Referrer)</a></td>
				<td><i>@link.Excerpt</i></td>
			</tr>
		}
	</tbody>
</table>